﻿@model Shoppers.Models.Album
@{
    ViewBag.Title = "AddAlbumImages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script>
    $(document).ready(function () {
        $(function () {
            $("#proimgs").sortable();
            $("#proimgs").disableSelection();
        });
    });
</script>

<script language="javascript" type="text/javascript">
    ///////////////images////////////////////
    $(function () {
        $("#File1").change(function () {
            if (typeof (FileReader) != "undefined") {
                var proimgs = $("#proimgs");
                //dvPreview.html("");
                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.png)$/;
                $($(this)[0].files).each(function () {
                    var file = $(this);
                    if (regex.test(file[0].name.toLowerCase())) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var image = new Image();
                            image.src = e.target.result;
                            var w;
                            var h;
                            w = image.width,
                                   h = image.height
                            if (w < 450) {
                                alert("Image is too small");
                            }
                            else {
                                proimgs.append("<li><img src='" + e.target.result + "' width='76px' height='54px' style='float: left; height:54px; width=76px; margin: 0px; ' /><span onclick='ImageRemove(this);' class='close'>X</span><textarea id='TextArea1' rows='2' cols='20' style='width: 75%;'></textarea></li>");
                            }

                        }
                        reader.readAsDataURL(file[0]);
                    } else {
                        alert(file[0].name + " is not a valid image file.");
                        proimgs.html("");
                        return false;
                    }
                });
            } else {
                alert("This browser does not support HTML5 FileReader.");
            }
        });
    });
</script>

<script>
    function ImageRemove(Image) {
        $(Image).parent('li').remove();
    }
</script>

<script type="text/javascript">
    function GetImageNameInHiddenBox() {

        var Name = $("#hdn_albumname").val();
        if (Name != "Choose..." && Name != "") {
            var Img = "";
            var desc = "";
            $("#proimgs li").each(function (i, li) {
                debugger;
                Img += $(li).children('img').attr('src');
                Img += "/*/*/*";
                Img += $(li).children('textarea').attr('value');
                Img += "#####";
            });
            $("#hdnImages").val(Img);
            return true;
        }
        else {
            return false;
        }
    }

</script>


<div class="col-xs-9">
    <h2>Add <strong> Images </strong>to Album <strong>"@ViewBag.AlbumName"</strong></h2>
</div>

<form method="post" enctype="multipart/form-data" id="FormUser">

    <div class="row">
        <div class="col-lg-12 portlets">
            <div class="panel">

                <div class="panel-content">

                    <div class="row">

                        <div class="form-group">
                            <label class="form-label">Select Images</label>
                            <span>Note : Image Width should be Minimum 450px</span>
                            <input type="file" id="File1" class="upload" multiple />
                            <input id="hdnImages" name="hdnImages" type="hidden" value="" />
                            <input id="hdn_albumname" name="hdn_albumname" type="hidden" value="@ViewBag.AlbumName" />
                            <input id="AlbumID" name="AlbumID" type="hidden" value="@ViewBag.AlbumID" />
                            <ul class="proimgs" id="proimgs">
                                @Html.Raw(ViewBag.img)
                            </ul>
                        </div>


                    </div>
                    <div>
                        @{
                            string Text = "Add Images";
                            if (Model != null)
                            {
                                Text = "Update Images";
                            }
                        }


                        <input type="submit" id="btnSave" onclick="return GetImageNameInHiddenBox();" class=" btn btn-dark" value="@Text" name="Save" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>