﻿@model Compuparts.Models.Colour

@{
    ViewBag.Title = "AddColour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-9">
    <h2>Add <strong>New Colour</strong></h2>
</div>
<div class="col-xs-3">
    <input type="button" value="Manage Colour" style="float:right;" class="btn btn-dark" data-toggle="modal" data-target="#modal-select" onclick="location.href = '/Colour/ManageColour'">
</div>

<form method="post" enctype="multipart/form-data" id="FormUser">

    <div class="row">
        <div class="col-lg-12 portlets">
            <div class="panel">

                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Colour </label>
                                @Html.TextBoxFor(x => x.Name, new { @placeholder = "Enter Colour", @class = "form-control", @required = "required" })
                            </div>

                        </div>
                    </div>
                    <div>
                        @{
                            string Text = "Add Colour";
                            if (Model != null)
                            {
                                Text = "Update Colour";
                            }
                        }


                        <input type="submit" id="btnSave" class=" btn btn-dark" value="@Text" name="Save" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

