﻿@model  IEnumerable<Compuparts.Models.Cart>

@{
    ViewBag.Title = "ManageOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-9">
    <h2>Manage<strong> Order</strong></h2>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
    function GetImageNameInHiddenBox(ID) {
        $("#DeleteLink").attr("href", "/ContentPage/Delete?ID=" + ID);
    }
</script>

<body>
    <div class="row">
        <div class="col-lg-12 portlets">
            <div class="panel">
                <div class="panel-content pagination2 table-responsive">
                    <table class="table table-hover table-dynamic">
                        <thead>
                            <tr>
                                <th style="display:none;"></th>
                                <th>Order ID</th>
                                <th>Date </th>
                                <th>Customer Name</th>
                                <th>Total Price</th>
                                <th>Payment</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        if(item.ReadStatus == true)
                                        { 
                                        <tr>
                                            <td style="display:none;">
                                                <img src="~/Resources/images/loader.gif" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ID)
                                            </td>
                                            <td>
                                                @{
                                        string date = String.Format("{0:MMM d, yyyy}", item.Date);
                                        @Html.Raw(date)
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BillingInfoes.FirstOrDefault().Fullname)
                                            </td>
                                            
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TotalPrice)
                                            </td>
                                           @{
                                        string Payment = "Not Paid";
                                        if (item.CartLines.FirstOrDefault().Cart.PaymentStatus == true)
                                        {
                                            Payment = "Paid";
                                        }

                                        }
                                            <td>
                                                @Payment
                                            </td>
                                            <td>
                                                <a href='~/Cart/OrderDetails?ID=@item.ID'>Detail</a>
                                            </td>
                                        </tr>
                                        }
                                        else if (item.ReadStatus == false)
                                        {
                                            <tr style="background-color:rgba(49, 166, 181, 0.26);">
                                                <td style="display:none;">
                                                    <img src="~/Resources/images/loader.gif" />
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ID)
                                                </td>
                                                <td>
                                                    @{
                                            string date = String.Format("{0:MMM d, yyyy}", item.Date);
                                            @Html.Raw(date)
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BillingInfoes.FirstOrDefault().Fullname)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotalPrice)
                                                </td>
                                                @{
                                            string Payment = "Not Paid";
                                            if (item.CartLines.FirstOrDefault().Cart.PaymentStatus == true)
                                            {
                                                Payment = "Paid";
                                            }

                                                }
                                                <td>
                                                    @Payment
                                                </td>
                                                <td>
                                                    <a href='~/Cart/OrderDetails?ID=@item.ID'>Detail</a>
                                                </td>
                                            </tr>
                                        }

                                    }
                                }
}
                        </tbody>
                    </table>
                    <div class="modal fade modal-bottomfull" id="modal-bottomfull" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                                    <h4 class="modal-title"><strong>Are you</strong> Sure</h4>
                                </div>
                                <div class="modal-body">
                                    You want to delete this info ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
                                    <a href="" id="DeleteLink" class="btn btn-primary btn-embossed">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
