﻿@model Compuparts.ViewModel.OrderViewModel
@using Compuparts.Models.Function;
@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (Model != null)
    {
        <div class="col-sm-5 pad-right">
            <div class="bg-darkBlue heading">
                Customer Details
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="clearfix">
                        <ul class="list-unstyled cDetail">
                            <li>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Customer ID:</strong></div> <div class="pull-right">@Model.Cart.BillingInfoes.FirstOrDefault().ID</div>
                                </div>
                            </li>
                            <li>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Customer Name:</strong></div> <div class="pull-right">@Model.Cart.BillingInfoes.FirstOrDefault().Fullname</div>
                                </div>
                            </li>
                            <li>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Address:</strong></div> <div class="pull-right">@Model.Cart.BillingInfoes.FirstOrDefault().Address</div>
                                </div>
                            </li>
                            <li>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Country:</strong></div> <div class="pull-right">@Model.Cart.BillingInfoes.FirstOrDefault().Region.Name </div>
                                </div>
                            </li>
                            <li>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Town/City:</strong></div> <div class="pull-right">@Model.Cart.BillingInfoes.FirstOrDefault().City </div>
                                </div>
                            </li>
                            <li>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>PostCode:</strong></div> <div class="pull-right">@Model.Cart.BillingInfoes.FirstOrDefault().PostalCode</div>
                                </div>
                            </li>
                            <li>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Mobile No:</strong></div> <div class="pull-right">@Model.Cart.BillingInfoes.FirstOrDefault().Phone</div>
                                </div>
                            </li>
                            <li>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Email:</strong></div> <div class="pull-right">@Model.Cart.BillingInfoes.FirstOrDefault().Email</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>






        <div class="col-sm-5 pad-right">
            <div class="bg-darkBlue heading">
                Order Detail
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="clearfix">
                        <ul class="list-unstyled cDetail">
                            <li>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Order ID:</strong></div> <div class="pull-right">@Model.Cart.ID</div>
                                </div>
                            </li>
                            <li>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Payment Via:</strong></div> <div class="pull-right">@Model.Cart.PaymentMethod</div>
                                </div>
                            </li>
                            <li>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Total Price:</strong></div> <div class="pull-right">€ @Model.Cart.TotalPrice</div>
                                </div>
                            </li>
                            <li>
                                @{
        string date = String.Format("{0:MMM d, yyyy}", Model.Cart.Date);

                                }
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Date:</strong></div> <div class="pull-right">@Html.Raw(date)</div>
                                </div>
                            </li>
                            <li>
                                @{
        string Payment = "Not Paid";
        if (Model.Cart.PaymentStatus == true)
        {
            Payment = "Paid";
        }

                                }
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Payment Status:</strong></div> <div class="pull-right">@Payment</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br />

    }
}
<div class="row">
    <div class="col-lg-12 portlets">
        <div class="panel">
            <div class="panel-content pagination2 table-responsive">
                <table class="table table-hover table-dynamic">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Qty</th>
                            <th>Product Price</th>
                            <th>Colour</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.CartLine != null)
                            {
                                foreach (var item in Model.CartLine)
                                {
                                    <tr>
                                        <td>
                                            <a target="_blank" href="/Product/Detail?ID=@item.ProductID"> @Html.DisplayFor(modelItem => item.Product.Name)</a>
                                        </td>
                                        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Product.Colour)
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
                <div class="modal fade modal-bottomfull" id="modal-bottomfull" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                                <h4 class="modal-title"><strong>Are you</strong> Sure</h4>
                            </div>
                            <div class="modal-body">
                                You want to delete this info ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
                                <a href="" id="DeleteLink" class="btn btn-primary btn-embossed">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-sm-7 pad-right">

    <div class="panel panel-default">
        <div class="panel-body">
            <form method="post" action="/Cart/UpdateStatus" enctype="multipart/form-data" id="FormUser">
                <div class="clearfix">

                    <div>
                        <div class="bg-darkBlue heading">
                            Change Order Status
                        </div>

                        <select name="Status" id="Status">
                            @{
                                foreach (GernalFunction.OrderStatus item in GernalFunction.OrderStatus.GetValues(typeof(GernalFunction.OrderStatus)))
                                {
                                    <option value="@item">@item</option>
                                }
                            }

                        </select>


                    </div>
                    <div>
                        <div class="bg-darkBlue heading">
                            Comments
                        </div>

                        @Html.TextAreaFor(x => x.Cart.Comments, new { Name = "Cart_Comments", @rows = "15", @cols = "50" })
                        @Html.HiddenFor(x => x.Cart.ID, new { Name = "Cart_ID", id = "Cart_ID" })
                    </div>
                    <input type="submit" value="Save Changes" class=" btn btn-dark" />
                </div>

            </form>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var value = "@Model.Cart.OrderStatus";
        $('#Status').val(value).trigger('change');

    })
</script>











