﻿@model Compuparts.Models.MainSlider

@{
    ViewBag.Title = "AddMainSlider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-xs-9">
    <h2>Add <strong>MainSlider</strong></h2>
</div>
<div class="col-xs-3">
    <input type="button" value="Manage MainSlider" style="float:right;" class="btn btn-dark" data-toggle="modal" data-target="#modal-select" onclick="location.href = '/MainSliders/ManageMainSlider'">
</div>
<style>
    .scrollC {
        overflow-x: scroll;
    }

    .cropit-image-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 450px;
        height: 450px;
        cursor: move;
    }

    .cropit-image-background {
        opacity: .2;
        cursor: auto;
    }

    .image-size-label {
        margin-top: 10px;
    }

    input {
        display: block;
    }

    .export {
        margin-top: 10px;
    }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {

            $('#erormsg').css('display', 'block');
            return false;
        }
        else {
            $('#erormsg').css('display', 'none');
            return true;
        }
    }


</script>

<script>
    $(function () {
        $("#imgBlock").hide();
        $("#file").click(function () {

            $("#imgBlock").show();
            //$(".image-editor").addClass("scrollC");
        });
        $('.image-editor').cropit();

        $('form').submit(function () {
            // Move cropped image data to hidden input
            var imageData = $('.image-editor').cropit('export');
            $('.hidden-image-data').val(imageData);

            document.getElementById('Image').value = imageData;

            // alert(document.getElementById('Img_Name').value)
            // Prevent the form from actually submitting
            return true;
        });
    });
</script>


<form method="post" enctype="multipart/form-data" id="FormUser">

    <div class="row">
        <div class="col-lg-12 portlets">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Title</label>
                                @Html.TextBoxFor(x => x.Title, new { @placeholder = "Enter Title", @class = "form-control", @required = "required" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">Url</label>
                                @Html.TextBoxFor(x => x.URL, new { @placeholder = "Enter Url", @class = "form-control"})
                            </div>
                            <div class="form-group">
                                <label class="form-label">Description</label>
                                @Html.TextBoxFor(x => x.Description, new { @placeholder = "Enter Description", @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">Sort Order</label><br />
                                <span style="color:red; display:none;" id="erormsg">Enter Numeric Charaters only</span>
                                @Html.TextBoxFor(x => x.SortOrder, new { @placeholder = "Enter SortOrder", @class = "form-control", @onkeypress = "return isNumber(event)" })
                            </div>
                        </div>
                        <div class="col-md-6">

                            @Html.HiddenFor(m => m.Image)
                            <div class="form-group">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <p><strong>Image uploader</strong><small>Image Size (430px * 314px)</small></p>
                                    <div id="uploaderrr" class="fileinput-new thumbnail">
                                        @{
                                            if (Model != null)
                                            {
                                                <img data-src=""  src="@Model.Image" class="img-responsive" alt="gallery 3">
                                            }
                                            else
                                            {
                                                <img data-src="" style="width:430px; height:314px;" src="~/Resources/MainSlider/NoImage.jpg" class="img-responsive" alt="gallery 3">
                                            }
                                        }
                                    </div>

                                </div>



                            </div>

                            <div class="form-group">
                                <div class="image-editor">
                                    <input type="file" class="cropit-image-input" name="file" id="file">
                                    <div id="imgBlock">
                                        <div class="cropit-image-preview"></div>
                                        <div class="image-size-label">
                                            Resize image
                                        </div>
                                        <input type="range" class="cropit-image-zoom-input">
                                        <input type="hidden" name="Image" id="Image" class="hidden-image-data" />
                                    </div>
                                </div>

                            </div>


                        </div>

                    </div>
                    
                    <div>
                        @{
                            string Text = "Add Slider";
                            if (Model != null)
                            {
                                Text = "Update Slider";
                            }
                        }


                        <input type="submit" id="btnSave" class=" btn btn-dark" value="@Text" name="Save" />
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>

