﻿@model Compuparts.ViewModel.AddCategoryViewModel

@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {

            $('#erormsg').css('display', 'block');
            return false;
        }
        else {
            $('#erormsg').css('display', 'none');
            return true;
        }
    }
</script>

<div class="col-xs-9">
    <h2>Add <strong>New Category</strong></h2>
</div>
<div class="col-xs-3">
    <input type="button" value="Manage Category" style="float:right;" class="btn btn-dark" data-toggle="modal" data-target="#modal-select" onclick="location.href = '/Category/ManageCategory'">
</div>

<form method="post" enctype="multipart/form-data" id="FormUser">
<input type="hidden" value="@ViewBag.Url" name="PreUrl" />
    <div class="row">
        <div class="col-lg-12 portlets">
            <div class="panel">

                <div class="panel-content">
                    @*<p>Here you can define different System users who can access this system</p>*@

                    <div class="form-group">
                        <label class="form-label">Select Category</label>
                        <select class="form-control" id="DDLcategory" name="DDLcategory" data-search="true">
                            @{
                                <option value="">Choose</option>
                                foreach (var item in Model.CategoryList)
                                {
                                    <option value="@item.ID">@item.CategoryName</option>
                                }
                            }
                        </select>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Category Name</label>
                                    @Html.TextAreaFor(x => x.Category.CategoryName, new { @placeholder = "Enter CategoryName", @rows = "8", cols = "8", @class = "form-control", @required = "required" })
                                </div>
                                <div class="form-group">
                                    <label class="form-label">SortOrder</label>
                                    <span style="color:red; display:none;" id="erormsg">Enter Numeric Charaters only</span>
                                    @Html.TextBoxFor(x => x.Category.SortOrder, new { @placeholder = "Enter SortOrder", @class = "form-control", @onkeypress = "return isNumber(event)" })
                                </div>

                                <div>
                                    @{
                                        string Text = "Add Category";
                                        if (Model != null)
                                        {
                                            Text = "Update Category";
                                        }
                                    }
                                    <input type="submit" id="btnSave" class=" btn btn-dark" value="@Text" name="Save" />
                                </div>
                            </div>

                        </div>
                    </div>
    </div>
            </div>
        </div>
</form>

@{
    if (Model.Category != null)
    {
        if (Model.Category.ParentCategoryID > 0)
        {
            <script>
                $(document).ready(function () {
                    var value = "@Model.Category.ParentCategoryID";
                    $('#DDLcategory').val(value).trigger('change');

                })
            </script>
        }
    }
}
