﻿@model IEnumerable<Compuparts.Models.Category>
@{
    ViewBag.Title = "ManageCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-xs-9">
    @{
        if (Model != null)
        {
            if (Model.Count() > 0)
            {
                <h2>Manage<strong> @Model.FirstOrDefault().Category1.CategoryName</strong></h2>
            }
        }
    }

</div>
<div class="col-xs-3">
    <input type="button" value="Add New Category" style="float:right;" class="btn btn-dark" data-toggle="modal" data-target="#modal-select" onclick="location.href = '/Category/AddCategory'">
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
    function GetImageNameInHiddenBox(ID) {
        $("#DeleteLink").attr("href", "/Category/Delete?ID=" + ID);
    }
</script>
<script>
    function Display3rdLevel(ID) {

        if ($('.' + ID)[0]) {
            // Do something if class exists

            if ($('.' + ID + ":visible").length == 0) {
                $('.' + ID).show();
            }
            else {
                $('.' + ID).hide();
            }
        } else {
            // Do something if class does not exist
            $.ajax({

                type: "POST",

                url: '/AjaxCalling/Get3thLevelCategoryByParentID',

                data: '{ ID: "' + ID + '"}',

                contentType: "application/json; charset=utf-8",

                dataType: "json",

                success: function (response) {
                },
                error: function (response) {
                    var str = response.responseText;
                    if (str != "") {
                        $('#' + ID).after(str);
                    }
                    else {
                    }
                },
                failure: function (response) {
                    alert("Service Failed");

                }

            });

        }

    }


</script>
<script>
    $(document).ready(function () {
        $('.table-dynamic').dataTable({
            "pageLength": 100
        });

        alert = function () { };
    });
</script>

<body>
    <input id="hdn_ID" type="hidden" />
    <div class="row">
        <div class="col-lg-12 portlets">
            <div class="panel">
                <div class="panel-content pagination2 table-responsive">
                    <table class="table table-hover table-dynamic">
                        <thead>
                            <tr>
                                <th>SortOrder</th>
                                <th>Brands</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr style="position:relative" id="@item.ID" @*onclick="Display3rdLevel(@item.ID)"*@>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SortOrder)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CategoryName)
                                            </td>

                                            @{
                                        bool IsExist = new Compuparts.Models.CategoryModel().IsExist(item.ID);
                                        if (IsExist == true)
                                        {
                                            <td>
                                                

                                                <a href='~/Category/AddCategory?ID=@item.ID'>Edit</a> -
                                                <a style="color: #C0C9D1">
                                                    Delete 
                                                </a> 
                                                @{
                                            if (item.Categories1.Count() > 0)
                                            {
                                                <a style="color:black;"> - </a>  <a style="cursor:pointer" onclick="Display3rdLevel(@item.ID)">Manage Sub Categories</a>
                                            }
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            IsExist = new Compuparts.Models.ProductModel().IsExist(item.ID);
                                            if (IsExist == true)
                                            {
                                                <td>
                                                   
                                                    <a href='~/Category/AddCategory?ID=@item.ID'>Edit</a> -
                                                    <a style="color: #C0C9D1">
                                                        Delete
                                                    </a> 
                                                    @{
                                                if (item.Categories1.Count() > 0)
                                                {
                                                    <a style="color:black;"> - </a> <a style="cursor:pointer" onclick="Display3rdLevel(@item.ID)">Manage Sub Categories</a>
                                                }
                                                    }
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <a href='~/Category/AddCategory?ID=@item.ID'>Edit</a> -
                                                    <a class="modal-container" data-toggle="modal" onclick="GetImageNameInHiddenBox(@item.ID);" data-target=" #modal-bottomfull">
                                                        Delete
                                                    </a> 
                                                    @{
                                                if (item.Categories1.Count() > 0)
                                                {
                                                    <a style="color:black;"> - </a> <a style="cursor:pointer" onclick="Display3rdLevel(@item.ID)">Manage Sub Categories</a>
                                                }
                                                    }
                                                </td>
                                            }
                                        }
                                            }
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    <div class="modal fade modal-bottomfull" id="modal-bottomfull" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                                    <h4 class="modal-title"><strong>Are you</strong> Sure</h4>
                                </div>
                                <div class="modal-body">
                                    You want to delete this info ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
                                    <a href="" id="DeleteLink" class="btn btn-primary btn-embossed">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


