﻿@model Compuparts.ViewModel.ProductViewModel
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script>
    $(document).ready(function () {
        $(function () {
            $("#proimgs").sortable();
            $("#proimgs").disableSelection();
        });
    });
</script>

<script language="javascript" type="text/javascript">
    ///////////////images////////////////////
    $(function () {
        $("#File1").change(function () {
            if (typeof (FileReader) != "undefined") {
                var proimgs = $("#proimgs");
                //dvPreview.html("");
                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.png)$/;
                $($(this)[0].files).each(function () {
                    var file = $(this);
                    if (regex.test(file[0].name.toLowerCase())) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var image = new Image();
                            image.src = e.target.result;

                            proimgs.append("<li><img src='" + e.target.result + "' width='200px' height='200px' style='float: left; height:200px; width=200px; margin: 0px; ' /><span onclick='ImageRemove(this);' class='close'>X</span></li>");

                        }
                        reader.readAsDataURL(file[0]);
                    } else {
                        alert(file[0].name + " is not a valid image file.");
                        proimgs.html("");
                        return false;
                    }
                });
            } else {
                alert("This browser does not support HTML5 FileReader.");
            }
        });
    });
</script>

<script>
    function ImageRemove(Image) {
        $(Image).parent('li').remove();
    }
</script>

<script type="text/javascript">
    function GetImageNameInHiddenBox() {
        var Img = "";
        $("#proimgs li").each(function (i, li) {

            Img += $(li).children('img').attr('src');
            Img += "#####";
        });
        $("#hdnImages").val(Img);

        var values = "";
        $('.list-unstyled li label input:checked').each(function () {
            values += $(this).attr('value');
            values += "***";
            var textboxID = "#" + $(this).attr('value');
            values += $(textboxID).val();
            values += "///";
        });
        $("#hdnfeatures").val(values);

    }

</script>

<script>

    function createUrl(evt) {
        var Value = $("#Product_Name").val();
        Value = Value.toLowerCase();
        Value = Value.replace(/[^A-Z0-9]/ig, "-");
        $("#Product_Url").val(Value);
    }
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
            return false;
        }
        else {
            if (charCode == 46) {
                return false;
            }
            else {
                return true;
            }
        }
    }

    function Validation() {
        //if ($("#Product_MetaDescription").val().length > 200) {
        //    $("#erormsg").css("display", "block");
        //    $("#erormsg").text("Meta Description too long! Max is 200 Characters");
        //    return false;
        //}
        //if ($("#Product_MetaKeyword").val().length > 100) {
        //    $("#erormsg").css("display", "block");
        //    $("#erormsg").text("Meta Keyword too long! Max is 100 Characters");
        //    return false;
        //}
        //if ($("#Product_MetaTitle").val().length > 100) {
        //    $("#erormsg").css("display", "block");
        //    $("#erormsg").text("Meta Title too long! Max is 100 Characters");
        //    return false;
        //}
        //if ($("#Product_Name").val().length > 200) {
        //    $("#erormsg").css("display", "block");
        //    $("#erormsg").text("Product Name too long! Max is 200 Characters");
        //    return false;
        //}
        GetImageNameInHiddenBox();

    }


</script>

<script>
    $(document).ready(function () {
        myfunction(window.top.location.href);
        $("#Product_VAT").focusout(function () {
            var vat = $(this).val();
            var priceWithoutVat = $("#Product_PriceWithoutVAT").val();
            var ans = parseFloat(vat).toFixed(2) / 100.00;
            var price = (parseFloat(priceWithoutVat) * parseFloat(ans)).toFixed(2);
            var p2 = (parseFloat(priceWithoutVat) + parseFloat(price)).toFixed(2);
            if (p2 != "NaN") {
                $("#Product_PriceWithVAT").val(p2);
            }
        });
    });
</script>

<script>
    function myfunction(myvar) {
        var urls = myvar;
        if (myvar.indexOf("CategoryID") >= 0) {
            var myurls = urls.split("?CategoryID=");
            var mylasturls = myurls[1];
            var mynexturls = mylasturls.split("&");
            var url = mynexturls[0];
            if (url != null) {
                $('#DDLcategory').val(url).trigger('change');
                $("#DDLcategory").prop("readonly", true);
            }
        }
    }


</script>

<style>
    .cke_contents {
        height: 470px !important;
    }
</style>

<div class="col-xs-9">
    <h2>Add <strong>Product</strong></h2>
</div>

<div class="col-xs-3">
    <input type="button" value="Manage Product" style="float:right;" class="btn btn-dark" data-toggle="modal" data-target="#modal-select" onclick="location.href = '/Product/ManageProduct'">
</div>

<form method="post" enctype="multipart/form-data" id="FormUser">

    <div class="row">
        <div class="col-lg-12 portlets">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Select Category</label>
                                <select class="form-control" id="DDLcategory" name="DDLcategory" data-search="true">
                                    @{
                                        <option value="">Choose</option>
                                        foreach (var item in Model.ListOfCategory)
                                        {
                                            <option value="@item.ID">@item.CategoryName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Title </label>
                                @Html.TextBoxFor(x => x.Product.Name, new { @maxlength = "200",required="required", @class = "form-control", @onkeyup = "return createUrl(event)" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">Sub Title </label>
                                @Html.TextBoxFor(x => x.Product.Subtitle, new { @maxlength = "200" , @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">Price without VAT<small> (Price should be in Decimal e.g 2.00 or 2.05 or 2.50)</small></label>
                                @Html.TextBoxFor(x => x.Product.PriceWithoutVAT, new {@maxlength = "6",@onpaste = "return false;" , @class = "form-control", @placeholder = " e.g 2.00 or 2.05 or 2.50", @onkeypress = "return isNumber(event)", @required = "required" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">VAT<small> (Price should be in Decimal e.g 2.00 or 2.05 or 2.50)</small></label>
                                @Html.TextBoxFor(x => x.Product.VAT, new {@maxlength = "6",@onpaste = "return false;", @class = "form-control", @placeholder = " e.g 2.00 or 2.05 or 2.50", @onkeypress = "return isNumber(event)", @required = "required" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">Price with VAT<small> (Price should be in Decimal e.g 2.00 or 2.05 or 2.50)</small></label>
                                @Html.TextBoxFor(x => x.Product.PriceWithVAT, new {@maxlength = "6",@onpaste = "return false;", @class = "form-control", @placeholder = " e.g 2.00 or 2.05 or 2.50", @onkeypress = "return isNumber(event)", @required = "required" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">Colour</label>
                                @Html.TextBoxFor(x => x.Product.Colour, new { @class = "form-control", @maxlength = "15" })
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="icheck-inline">
                                        <label>
                                            @Html.CheckBoxFor(x => x.Product.SentInternational) Sent International
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="icheck-inline">
                                        <label>
                                            @Html.CheckBoxFor(x => x.Product.New) New
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="icheck-inline">
                                        <label>
                                            @Html.CheckBoxFor(x => x.Product.Used) Used
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="icheck-inline">
                                        <label>
                                            @Html.CheckBoxFor(x => x.Product.OriginalUsed) Original Used
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="icheck-inline">
                                        <label>
                                            @Html.CheckBoxFor(x => x.Product.Refurbished) Refurbished
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="icheck-inline">
                                        <label>
                                            @Html.CheckBoxFor(x => x.Product.Damaged) Damaged
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="chk">
                           
                                <label class="form-label">Countries</label>
                                <div style="height:400px; width:50%; overflow:scroll;">
                                    <input id="hdnRegion" name="hdnRegion" type="hidden" value="" />
                                    <ul class="list-unstyled" id="ListOfRegionID">
                                        @{
                                            for (int i = 0; i < Model.RegionList.Count; i++)
                                            {
                                                <li>
                                                    <div class="proftr">
                                                        @Html.HiddenFor(m => m.RegionList[i].ID)
                                                        @Html.CheckBoxFor(m => m.RegionList[i].IsSelected, new { Id = Model.RegionList[i].ID })
                                                        @Html.Raw(Model.RegionList[i].Text)
                                                    </div>
                                                </li>
                                            }
                                        }

                                    </ul>
                                </div>
                            </div>



                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Url </label>
                                @Html.TextBoxFor(x => x.Product.Url, new { @class = "form-control", @maxlength = "250"})
                            </div>
                            <div class="form-group">
                                <label class="form-label">MetaTitle</label>
                                @Html.TextBoxFor(x => x.Product.MetaTitle, new { @class = "form-control", @required = "required", @placeholder = "You can put product name in it",@maxlength = "200" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">MetaKeyword</label>
                                @Html.TextBoxFor(x => x.Product.MetaKeyword, new { @class = "form-control", @required = "required", @placeholder = "You can put product name in it", @maxlength = "200" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">MetaDescription</label>
                                @Html.TextBoxFor(x => x.Product.MetaDescription, new { @class = "form-control", @required = "required", @placeholder = "You can put product name in it", @maxlength = "200" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">Search Keywords</label>
                                @Html.TextBoxFor(x => x.Product.Keyword, new { @class = "form-control", @maxlength = "200" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">EAN </label>
                                @Html.TextBoxFor(x => x.Product.EAN, new { @class = "form-control", @maxlength = "20" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">UAN </label>
                                @Html.TextBoxFor(x => x.Product.UAN, new { @class = "form-control", @maxlength = "20" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">Quantity <small>(Number only)</small></label>
                                @Html.TextBoxFor(x => x.Product.Quantity, new { @class = "form-control", @onkeypress = "return isNumber(event)", @required = "required", @onpaste = "return false;", @maxlength = "3" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">Select Detail</label>
                                @Html.DropDownListFor(x => x.Product.ExtraDetailID, ViewBag.DDLExtraDetails as SelectList, "Choose", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="icheck-inline">
                                        <label>
                                            @Html.CheckBoxFor(x => x.Product.Sale) Sale
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="icheck-inline">
                                        <label>
                                            @Html.CheckBoxFor(x => x.Product.Featured) Featured
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="icheck-inline">
                                        <label>
                                            @Html.CheckBoxFor(x => x.Product.Offer) Offer
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            @{
                                string Text = "Add Product";
                                if (Model != null)
                                {
                                    Text = "Update Product";
                                }
                            }
                        </div>

                    </div>

                </div>

                <div>

                    <div class="form-group">
                        <label class="form-label">Select Images</label>
                        <span>Note : Image Width should be Minimum 450px</span>
                        <input type="file" id="File1" class="upload" multiple />
                        <input id="hdnImages" name="hdnImages" type="hidden" value="" />
                        <input id="hdn_albumname" name="hdn_albumname" type="hidden" value="@ViewBag.AlbumName" />
                        <input id="AlbumID" name="AlbumID" type="hidden" value="@ViewBag.AlbumID" />
                        <ul class="proimgs" id="proimgs">
                            @Html.Raw(Model.ImagesHtml)
                        </ul>
                    </div>


                </div>

                <div>
                    <label>Product Detail</label>
                    @Html.TextAreaFor(model => model.Product.Description, new { @class = "form-control ckeditor" })
                </div>


                <input type="submit" id="btnSave" class=" btn btn-dark" value="@Text" onclick="return Validation();" name="Save" />
                <span style="color:red; display:none;" id="erormsg"></span>
            </div>
        </div>
    </div>



</form>

@{
    if (Model.Product != null)
    {
        if (Model.Product.CategoryID > 0)
        {
            <script>
                $(document).ready(function () {
                    var value = "@Model.Product.CategoryID";
                    $('#DDLcategory').val(value).trigger('change');

                })
            </script>
        }
    }
}