﻿@model Compuparts.ViewModel.AddProductQuantityViewModel

@{
    ViewBag.Title = "AddProductQuantity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        else {
            return true;
        }
    }
</script>

<div class="col-xs-9">
    <h2>Add <strong>Product Quantity</strong></h2>
</div>
<div class="col-xs-3">
    <input type="button" value="Manage Product Quantity" style="float:right;" class="btn btn-dark" data-toggle="modal" data-target="#modal-select" onclick="location.href = '/Product/ManageProductQuantity'">
</div>

<form method="post" enctype="multipart/form-data" id="FormUser">

    <div class="row">
        <div class="col-lg-12 portlets">
            <div class="panel">

                <div class="panel-content">
                    @*<p>Here you can define different System users who can access this system</p>*@
                    <div class="row">
                        <div class="form-group" id="mydiv">
                            <label class="form-label">Select Product</label>
                            @Html.DropDownListFor(x => x.ProductQty.ProductID, Model.Product, "Select Product", new { @class = "form-control", @id = "ProductID" })
                        </div>
                        <div class="well well-lg">
                            <table>
                                <tr>
                                    <td class="form-label">Sr #</td>
                                    <td class="form-label">Select Size</td>
                                    <td class="form-label">Select Colour</td>
                                    <td class="form-label">Quantity</td>
                                </tr>
                                @for (int i = 0; i < 5; i++)
                                {
                                    var a = i + 1;
                                    <tr>
                                        <td style="width:60px;margin-left:30px; margin-right:30px;">
                                            @a
                                        </td>
                                        <td style="width:240px;margin-left:30px; margin-right:30px;">
                                            @Html.DropDownListFor(x => x.ListOfProductQuantaties[i].SizeID, Model.Size, "Select Size", new { @class = "form-control" })
                                        </td>
                                        <td style="width:240px;margin-left:30px; margin-right:30px;">
                                            @Html.DropDownListFor(x => x.ListOfProductQuantaties[i].ColourID, Model.Colour, "Select Colour", new { @class = "form-control"})
                                        </td>
                                        <td style="width:240px;margin-left:30px; margin-right:30px;">
                                            @Html.TextBoxFor(x => x.ListOfProductQuantaties[i].Quantity, new { @class = "form-control", @style = "background-color:white", @onkeypress = "return isNumber(event)" })
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                    <div>
                        @{
                            string Text = "Add Product Quantity";
                            if (Model != null)
                            {
                                Text = "Update Product Quantity";
                            }
                        }

                       
                        <input type="submit" id="btnSave" class=" btn btn-dark" value="@Text" name="Save" />
                        <p style="color:red">@TempData["message"]</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>


<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script>

    $(document).ready(function () {
        if(@Model.ProductId != null && @Model.ProductId > 0)
        {
            var ProductId = @Model.ProductId
            $('#ProductID').val(ProductId).trigger('change');
            $("#mydiv").addClass("disabledbutton");
        }
    });

</script>
<style>
    .disabledbutton {
        pointer-events: none;
        opacity: 2.4;
    }
</style>









<body>
    <div class="row">
        <div class="col-lg-12 portlets">
            <div class="panel">
                <div class="panel-content pagination2 table-responsive">
                    <table class="table table-hover table-dynamic">
                        <thead>
                            <tr>
                                <th style="display:none;">ID</th>
                                <th>Product</th>
                                <th>Size</th>
                                <th>Colour</th>
                                <th>Quantity</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.ListProductQuantity != null)
                                {
                                    foreach (var item in Model.ListProductQuantity)
                                    {
                                        <tr>
                                            <td style="display:none;">
                                                @Html.DisplayFor(modelItem => item.ID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Product.Name)
                                            </td>


                                            <td>
                                                @{
                                        if (item.Size != null)
                                        {
                                            @Html.DisplayFor(modelItem => item.Size.Name)
                                        }
                                        else
                                        {
                                            @Html.Raw("Null")
                                        }
                                                }
                                            </td>
                                            <td>
                                                @{
                                        if (item.Colour != null)
                                        {
                                            @Html.DisplayFor(modelItem => item.Colour.Name)
                                        }
                                        else
                                        {
                                            @Html.Raw("Null")
                                        }
                                                }
                                            </td>
                                            <td>
                                                @{
                                        if (item.Quantity != null)
                                        {
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        }
                                        else
                                        {
                                            @Html.Raw("Null")
                                        }
                                                }
                                            </td>


                                            <td>
                                                <a href='~/Product/DeleteProductQuantity?ID=@item.ID&pID=@item.ProductID'>Delete</a>-
                                                <a href='~/Product/EditProduct?ID=@item.ID'>Edit</a>
                                            </td>



                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    <div class="modal fade modal-bottomfull" id="modal-bottomfull" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                                    <h4 class="modal-title"><strong>Are you</strong> Sure</h4>
                                </div>
                                <div class="modal-body">
                                    You want to delete this info ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
                                    <a href="" id="DeleteLink" class="btn btn-primary btn-embossed">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
