﻿
@{
    Layout = null;
}
<html>

<body>
    @{
        if (Session["strForm"] != null)
        {
            string value = Session["strForm"].ToString();
            Session["strForm"] = null;

            @Html.Raw(value);
        }
        else
        {
            <h3>Operation timeout, try again</h3>
        }

    }
</body>
</html>