﻿@model Compuparts.ViewModel.ListingPageViewModel
@{
    ViewBag.Title = "Listing";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

@if (Model.ProductList != null)
{
    <title>@Model.MetaTitle</title>
    <meta name="description" content="@Model.MetaDescription" />
    <meta name="keywords" content="@Model.MetaKeyword" />
}

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Resources/UserEnd/js/MyCustomJava.js"></script>
<script>
    function PriceingOrder() {
        $("#MainLoader").show();
        var Order = $("#sorting option:selected").val();
        $("#hdnOrder").val(Order);
        Filters();
    }
    function Filters() {

        var OrderBy = $("#hdnOrder").val();
        $.ajax({

            type: "POST",

            url: '/AjaxCalling/Filters',

            data: "{'OrderBy':'" + OrderBy + "'}",

            contentType: "application/json; charset=utf-8",

            dataType: "json",

            success: function (response) {
            },
            error: function (response) {
                var str = response.responseText;
                if (str != "") {
                    $(".list").html("");
                    $(".list").append(str);
                    page();
                    $("#MainLoader").hide();
                }
                else {
                    $(".list").html("");
                    $(".list").append("<li class='col-sm-12 col-md-12 list-unstyled'> No product found accourding to your criteria</li>");
                    $(".pagination").css("display", "none");
                    $("#MainLoader").hide();
                }
            },
            failure: function (response) {
                $("#MainLoader").hide();
                alert("Service Failed");

            }

        });
    }
</script>

@if (Model != null && Model.ProductList.Count() > 0)
{
    <script>
            $(document).ready(function () {
                $("#Keyword").val("@Model.SeacrhKeyword");
            });
        </script>
}
    <div class="overlayFix" id="MainLoader" style=" display: none; ">
        <div class="ldrpup text-center">
            <img src="/Resources/UserEnd/images/loader.gif">
            <h4>Please wait</h4>
            <h2>Loading...</h2>
        </div>
    </div>
    <main>
        <section id="breadCrumbs">
            <div class="container">
                <div class="row">
                    @{
                        if (!string.IsNullOrEmpty(Model.SeacrhKeyword))
                            {
                                <div class="col-md-12">
                                    <ol class="breadcrumb">
                                        <li><a href="/">Home</a></li>
                                        <li class="active"><a>@Model.SeacrhKeyword </a></li>
                                    </ol>
                                </div>
                            }
                            else if (Model.ProductList.Count() > 0)
    {
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active"><a>@Model.ProductList.FirstOrDefault().Category.Category1.CategoryName </a></li>
                <li class="active"><a>@Model.ProductList.FirstOrDefault().Category.CategoryName</a></li>
            </ol>
        </div>
    }
                    }

                </div>
            </div>
        </section>

        <section id="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-8">
                        <div class="products-fiters">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label>View As</label>
                                <button class="switch-to-grid active"><span class="fa fa-th"></span></button>
                                <button class="switch-to-list"><span class="fa fa-th-list"></span></button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <input type="hidden" id="hdnOrder" value="ascending" />
                                <div class="sortby">
                                    <label>Sort By price</label>
                                    <select id="sorting" onchange="PriceingOrder()">
                                        <option value="ascending">Low to High</option>
                                        <option value="decending">High to Low</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="products-container" id="listId">
                            <ul class="list">
                                @{
    if (Model.ProductList.Count() > 0)
                                {
                                    foreach (var item in Model.ProductList)
                                    {
                            <li>
                                <div class="product-box">
                                    <div class="product-image">
                                        <span>
                                            <a href="/@item.Url-@item.ID">
                                                <img src="~/Resources/ProductImages/@item.ProductImages.FirstOrDefault().Images" style="height:249px; width:249px;" class="img-responsive" alt="@item.Name" />
                                            </a>
                                        </span>
                                    </div><!-- product image end -->

                                    <div class="product-details">
                                        <div class="product-name"><a href="/@item.Url-@item.ID" title="View Product name">@item.Name</a></div>
                                        <div class="price-group">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="price ex-vat"><span><i>€</i>@item.PriceWithoutVAT</span> - Ex VAT</div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="price inc-vat"><span><i>€</i>@item.PriceWithVAT</span> - Inc VAT</div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="cartQuantity" id="Quant_@item.ID">
                                        <div class="box">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btnRmvQty">
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    </button>
                                                </span>
                                                <input id="123" type="text" name="prodQty" class="form-control  proQtyNumber" value="0" min="1" max="@item.Quantity" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btnAddQty">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="button-group">
                                        <button title="add to cart" class="add-to-cart-button" onclick="Exist(@item.ID,@item.PriceWithoutVAT)"><span class="fa fa-shopping-cart"></span>Add to cart</button>
                                        <a href="/@item.Url-@item.ID" title="view details" class="product-details-button">View Details</a>
                                    </div>
                                </div>
                            </li>
                                    }
                                }
    else
    {
        <li>No product found</li>
    }
                                }
                            </ul>
                            <ul class="pagination pull-right"></ul>
                        </div>



                    </div>

                </div>


            </div>
        </section><!-- main content end -->

    </main>


<script src="~/Resources/UserEnd/js/jquery.min.js"></script>
<script src="~/Resources/UserEnd/js/bootstrap.min.js"></script>

<script src="~/Resources/UserEnd/js/ie10-viewport-bug-workaround.js"></script>
<script src="~/Resources/UserEnd/js/custom.js"></script>
<script>
    $(document).ready(function () {
        $("#btnproductCategories").click(function () {
            $(".listcatLinks").toggleClass("open");
        });
    });

    $('button').on('click', function (e) {
        if ($(this).hasClass('switch-to-grid')) {
            $(this).addClass('active');
            $('div.products-container').removeClass('removemargin')
            $('button.switch-to-list').removeClass('active');
            $('div.products-container div.product-box').removeClass('list').addClass('grid');
        }
        else if ($(this).hasClass('switch-to-list')) {
            $(this).addClass('active');
            $('div.products-container').addClass('removemargin')
            $('button.switch-to-grid').removeClass('active');
            $('div.products-container div.product-box').removeClass('grid').addClass('list');
        }
    });
</script>
<script src="~/Scripts/list.js"></script>
<script src="~/Scripts/Pagination.js"></script>

<script>
    var options = {
        valueNames: ['grid-box'],
        page: 40,
        plugins: [
          ListPagination({})
        ]
    };
    var listObj = new List('listId', options);

    function page() {
        var options = {
            valueNames: ['grid-box'],
            page: 40,
            plugins: [
              ListPagination({})
            ]
        };
        var listObj = new List('listId', options);
    }
</script>

<script>
    var cvalue = $(".proQtyNumber").val();
    if (cvalue == 1) {
        $(".btnRmvQty").attr('disabled', 'disabled');
    } else {
        $(".btnRmvQty").removeAttr('disabled');
    }


    $('.btnRmvQty').on('click', function () {
        if ($(this).parent().siblings('input').val() <= 1) {
            $(this).attr('disabled', 'disabled');
            $(this).parent().siblings('input').val("1");
        }
        $(this).parent().siblings('input').val(parseInt($(this).parent().siblings('input').val()) - 1)
    });

    $('.btnAddQty').on('click', function () {
        if ($(this).parent().siblings('input').val() >= 1) {
            $(".btnRmvQty").removeAttr('disabled');
        }
        $(this).parent().siblings('input').val(parseInt($(this).parent().siblings('input').val()) + 1)
    });
</script>