﻿@model Compuparts.ViewModel.ProductDetailViewModel
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}



<script src="~/Scripts/jquery-2.2.3.min.js"></script>
@*<script src="~/Resources/UserEnd/js/MyCustomJava.js"></script>*@


@if (Model.Product != null)
{
<title>@Model.Product.MetaTitle</title>
<meta name="description" content="@Model.Product.Description" />
<meta name="keywords" content="@Model.Product.MetaKeyword" />
}

@{
    if (Model.Product != null)
    {
<div class="overlayFix" id="MainLoader" style=" display: none; ">
    <div class="ldrpup text-center">
        <img src="/Resources/UserEnd/images/loader.gif">
        <h4>Please wait</h4>
        <h2>Loading...</h2>
    </div>
</div>

<main>
    <section id="breadCrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active"><a>@Model.Product.Category.Category1.CategoryName </a></li>
                        <li class="active"><a>@Model.Product.Category.CategoryName</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section id="main-content">
        <div class="container">
            <div class="row">

                <div class="col-md-12">

                    <div class="dt-product-details">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="productTitle">@Model.Product.Name</h2>
                            </div>
                            <div class="col-md-4">
                                <div class="dt-product-details-imager">

                                    <div id="productSliderDt" class="carousel slide" data-ride="carousel">


                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            @if (Model.Product.ProductImages.Count > 0)
                                            {
                                            int a = 0;
                                            foreach (var item in Model.Product.ProductImages)
                                            {
                                            if (a == 0)
                                            {
                                            <div class="item active">
                                                <span><img style="width:270px; height:250px;" src="~/Resources/ProductImages/@item.Images" alt=""></span>
                                            </div>
                                            }
                                            else
                                            {
                                            <div class="item">
                                                <span><img style="width:270px; height:250px;" src="~/Resources/ProductImages/@item.Images" alt=""></span>
                                            </div>
                                            }
                                            a++;
                                            }
                                            }

                                        </div>
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            @if (Model.Product.ProductImages.Count > 0)
                                            {
                                            int a = 0;
                                            foreach (var item in Model.Product.ProductImages)
                                            {
                                            if (a == 0)
                                            {
                                            <li data-target="#productSliderDt" data-slide-to="@a" class="active"> <img src="~/Resources/ProductImages/@item.Images" alt=""></li>
                                            }
                                            else
                                            {
                                            <li data-target="#productSliderDt" data-slide-to="@a"> <img src="~/Resources/ProductImages/@item.Images" alt=""></li>
                                            }
                                            a++;
                                            }
                                            }
                                        </ol>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="hidden" id="hdnQty" value="@Model.Product.PriceWithoutVAT" />
                                <input type="hidden" id="hdnID" value="@Model.Product.ID" />
                                <div class="dtProductsInDt">

                                    <small class="product-tag-line">@Model.Product.Subtitle</small>
                                    <ul class="qualitytags">

                                        <li>
                                            <span class="icon">
                                                <img src="/Resources/UserEnd/images/ic-fast.png" alt="">
                                            </span>
                                            Same Day Post
                                        </li>

                                        <li>
                                            <span class="icon">
                                                <img src="/Resources/UserEnd/images/ic-tested-parts.png" alt="">
                                            </span>
                                            Tested Parts
                                        </li>


                                        <li>
                                            <span class="icon">
                                                <img src="/Resources/UserEnd/images/ic-returen-and-replace.png" alt="">
                                            </span>
                                            Return & Replace
                                        </li>

                                    </ul>
                                    <div class="price-group">
                                        <div class="price inc-vat"><span><i>€ </i>@Model.Product.PriceWithVAT</span> - Inc VAT</div>
                                        <div class="price ex-vat"><span><i>€ </i>@Model.Product.PriceWithoutVAT</span> - Ex VAT</div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="productId">
                                        <label for="">Product ID</label>
                                        <span class="text">@Model.Product.ID</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="productId">
                                        <label for="">Colour</label>
                                        <span class="text">@Model.Product.Colour</span>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="productId">
                                        <label for="">EAN</label>
                                        <span class="text">@Model.Product.EAN</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="productId">
                                        <label for="">UAN</label>
                                        <span class="text">@Model.Product.UAN</span>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="quantity">
                                        <label for="">Quantity</label>
                                    </div>

                                    <div class="quantityBox" id="Quant_@Model.Product.ID">
                                        <input type="number" name="qtyNumber" id="qtyValue" value="1" min="1" max="@Model.Product.Quantity" />
                                        <button onclick="Exist(@Model.Product.ID,@Model.Product.PriceWithoutVAT)">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dt-product-description">
                        <h2>Product Details</h2>
                        @Html.Raw(Model.Product.Description)
                        <h2>Note:</h2>
                        @{
                        if (Model.Product.ExtraDetail != null)
                        {
                        @Html.Raw(Model.Product.ExtraDetail.Detail)
                        }
                        }

                    </div>
                    <div class="similar-products">
                        <h2>Similar Products</h2>

                        <div class="carousel slide " id="similarProductsCarsole">
                            <div class="carousel-inner">

                                @*@{
                                    if (Model.ProductList.Count >= 4)
                                    {
                                        <div class="item active">
                                            @for (int i = 0; i <= 3; i++)
                                            {
                                                <div class="col-xs-3">
                                                    <div class="product-box">
                                                        <div class="product-image">
                                                            <span>
                                                                <a href="/@Model.ProductList[i].Url-@Model.ProductList[i].ID">
                                                                    <img src="~/Resources/ProductImages/@Model.ProductList[i].ProductImages.FirstOrDefault().Images" class="img-responsive" alt="@Model.ProductList[i].Name" />
                                                                </a>
                                                            </span>
                                                        </div><!-- product image end -->

                                                        <div class="product-details">
                                                            <div class="product-name"><a href="/@Model.ProductList[i].Url-@Model.ProductList[i].ID" title="@Model.ProductList[i].Name">@Model.ProductList[i].Name</a></div>
                                                            <div class="price-group">
                                                                <div class="col-md-6 col-sm-12">
                                                                    <div class="price inc-vat"><span><i>€</i>@Model.ProductList[i].PriceWithVAT</span> - Inc VAT</div>
                                                                </div>
                                                                <div class="col-md-6 col-sm-12">
                                                                    <div class="price ex-vat"><span><i>€</i>@Model.ProductList[i].PriceWithoutVAT</span> - Ex VAT</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="cartQuantity" id="Quant_@Model.ProductList[i].ID">
                                                            <div class="box">
                                                                <div class="input-group">
                                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-default btnRmvQty">
                                                                            <span class="glyphicon glyphicon-minus"></span>
                                                                        </button>
                                                                    </span>
                                                                    <input id="123" type="text" name="prodQty" class="form-control  proQtyNumber" value="0" min="1" max="@Model.ProductList[i].Quantity" />
                                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-default btnAddQty">
                                                                            <span class="glyphicon glyphicon-plus"></span>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="button-group">
                                                            <button title="add to cart" class="add-to-cart-button" onclick="Exist(@Model.ProductList[i].ID,@Model.ProductList[i].PriceWithoutVAT)"><span class="fa fa-shopping-cart"></span>Add to cart</button>
                                                            <a href="/@Model.ProductList[i].Url-@Model.ProductList[i].ID" title="view details" class="product-details-button">View Details</a>
                                                        </div>
                                                    </div><!-- product-box end -->
                                                </div>
                                            }
                                        </div>

                                    <div class="item">
                                        @for (int i = 7; i >= 4; i--)
                                        {
                                            <div class="col-xs-3">
                                                <div class="product-box">
                                                    <div class="product-image">
                                                        <span>
                                                            <a href="/@Model.ProductList[i].Url-@Model.ProductList[i].ID">
                                                                <img src="~/Resources/ProductImages/@Model.ProductList[i].ProductImages.FirstOrDefault().Images" class="img-responsive" alt="@Model.ProductList[i].Name" />
                                                            </a>
                                                        </span>
                                                    </div><!-- product image end -->
                                                    <div class="product-details">
                                                        <div class="product-name"><a href="@Model.ProductList[i].Url-@Model.ProductList[i].ID" title="@Model.ProductList[i].Name">@Model.ProductList[i].Name</a></div>
                                                        <div class="price-group">
                                                            <div class="col-md-6 col-sm-12">
                                                                <div class="price inc-vat"><span><i>€</i>@Model.ProductList[i].PriceWithVAT</span> - Inc VAT</div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-12">
                                                                <div class="price ex-vat"><span><i>€</i>@Model.ProductList[i].PriceWithoutVAT</span> - Ex VAT</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cartQuantity" id="Quant_@Model.ProductList[i].ID">
                                                        <div class="box">
                                                            <div class="input-group">
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-default btnRmvQty">
                                                                        <span class="glyphicon glyphicon-minus"></span>
                                                                    </button>
                                                                </span>
                                                                <input id="123" type="text" name="prodQty" class="form-control  proQtyNumber" value="0" min="1" max="@Model.ProductList[i].Quantity" />
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-default btnAddQty">
                                                                        <span class="glyphicon glyphicon-plus"></span>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="button-group">
                                                        <button title="add to cart" class="add-to-cart-button" onclick="Exist(@Model.ProductList[i].ID,@Model.ProductList[i].PriceWithoutVAT)"><span class="fa fa-shopping-cart"></span>Add to cart</button>
                                                        <a href="/@Model.ProductList[i].Url-@Model.ProductList[i].ID" title="view details" class="product-details-button">View Details</a>
                                                    </div>
                                                </div><!-- product-box end -->
                                            </div>
                                        }
                                    </div>
                                    }
                                }*@
                                <!--  Example item end -->
                            </div>
                            <a class="left carousel-control" href="#similarProductsCarsole" data-slide="prev"><i class="fa fa-caret-left"></i></a>
                            <a class="right carousel-control" href="#similarProductsCarsole" data-slide="next"><i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>


                </div>

            </div>


        </div>
    </section><!-- main content end -->

</main>
                                    }
}

<script src="~/Resources/UserEnd/js/jquery.mk.magnifier.js"></script>

<script>
    $('.workspace').mkMagnifier({ width: 300, height: 460, ratio: 1.65, magnifier_radius: 90 });
    $(document).ready(function () {
        $("#btnproductCategories").click(function () {
            $(".listcatLinks").toggleClass("open");
        });
    });

</script>

<script>
    var cvalue = $(".proQtyNumber").val();
    if (cvalue == 1) {
        $(".btnRmvQty").attr('disabled', 'disabled');
    } else {
        $(".btnRmvQty").removeAttr('disabled');
    }


    $('.btnRmvQty').on('click', function () {
        if ($(this).parent().siblings('input').val() <= 1) {
            $(this).attr('disabled', 'disabled');
            $(this).parent().siblings('input').val("1");
        }
        $(this).parent().siblings('input').val(parseInt($(this).parent().siblings('input').val()) - 1)
    });

    $('.btnAddQty').on('click', function () {
        if ($(this).parent().siblings('input').val() >= 1) {
            $(".btnRmvQty").removeAttr('disabled');
        }
        $(this).parent().siblings('input').val(parseInt($(this).parent().siblings('input').val()) + 1)
    });
</script>