﻿@model Compuparts.ViewModel.ShoppingCartViewModel
@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function(){
        $("input[name='quantity'").bind('keyup mouseup', function () {
            var id = this.id;
            id = id.replace("qty_", "");
            var current = this.value;
            var prevData = $('#hdnQty_'+ id).val();
            if (current > prevData || current < prevData) {
                $('#qty_'+id).attr({
                    "value":current,
                });
                $('#hdnQty_'+ id).val(current);
                var qty = $('#hdnQty_'+ id).val();
                var Price = $('#hdnPrice_'+ id).val();
                var total = parseFloat((qty) * parseFloat(Price)).toFixed(2);
                $('#spanTotal_'+id).text("€"+total);
                $('#hdnTotal_'+id).val(total);
                calculate();
                
                $("#DDLCountry").trigger("change");
            }
        });
        calculate();
        

        $("#DDLCountry").change(function() {
            debugger;
            var id = $(this).val();
            var name = $(this).find("option:selected").text();
            $("#sCountry").text("");
            var SubT = $("#hdnSubTotal").val();
            
            if(name == "Ireland")
            {
                var shippingPriceIreland = $("#shippingPriceIreland").val();
                var IrelandMoreThen = $("#IrelandMoreThen").val();
                if(parseInt(IrelandMoreThen) < parseInt(SubT))
                {
                    $("#spanShipping").text("€ " + parseFloat(shippingPriceIreland).toFixed(2));
                }
                else
                {
                    $("#spanShipping").text("€ 0.00");
                }
            }
            else
            {
                var shippingPriceInterNational = $("#shippingPriceInterNational").val();
                var InterNationalMoreThen = $("#InterNationalMoreThen").val();
                if(parseInt(InterNationalMoreThen) < parseInt(SubT))
                {
                    $("#spanShipping").text("€ " + parseFloat(shippingPriceInterNational).toFixed(2));
                }
                else
                {
                    $("#spanShipping").text("€ 0.00");
                }
            }
            var shipping = $("#spanShipping").text();
            shipping = shipping.replace("€","");

            var tax = $("#spanTax").text();
            tax = tax.replace("€","");

            var final = parseFloat(SubT) + parseFloat(tax) + parseFloat(shipping);
            $("#spanFinal").text(final.toFixed(2));
            $("#hdnFinal").val(final.toFixed(2));

        });
    });

    function calculate() {
        debugger;
        var Price = [];

        $(".hdnTotal").each(function () {
            Price.push($(this).val());
        });
        var Total = 0.0;
        for (var i = 0; i < Price.length; i++) {

            Total = parseFloat(Price[i]) + parseFloat(Total);
        }
        $("#SpanSubTotal").text("€ " + Total.toFixed(2));
        $("#hdnSubTotal").val(Total.toFixed(2));

        var Tax = (Total.toFixed(2) * 23) / 100;
        $("#spanTax").text("€ " +Tax.toFixed(2));

        //var shipping = $("#spanShipping").text();
        //shipping = shipping.replace("€","");

        //var tax = $("#spanTax").text();
        //tax = tax.replace("€","");

        //var final = parseFloat(Total) + parseFloat(tax) + parseFloat(shipping);
        //$("#spanFinal").text(final.toFixed(2));
        //$("#hdnFinal").val(final.toFixed(2));

    }

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {

            $("#dPhone").removeClass("field-set border-round");
            $("#sPhone").css("display", "block");
            $("#dPhone").addClass("field-set error");
            $("#sPhone").text("Enter Number only !");
            return false;
        }
        else {
            $("#dPhone").removeClass("field-set error");
            $("#sPhone").css("display", "none");
            $("#dPhone").addClass("field-set border-round");
            $("#sPhone").text("");
            return true;
        }
    }

    function Validation() {
        var VEmail = false;
        var VFullName = false;
        var VCity = false;
        var VAddress = false;
        var VPostalCode = false;
        var VPhone = false;

        if ($("#billinfo_Email").val() == null || $("#billinfo_Email").val() == "") {
            $("#dEmail").removeClass("field-set border-round");
            $("#sEmail").css("display", "block");
            $("#dEmail").addClass("field-set error");
            $("#sEmail").text("Can't be empty !");
        }
        else {
            var testEmail = /^[A-Z0-9._%+-]+@@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
            if (!testEmail.test($("#billinfo_Email").val())) {
                $("#dEmail").removeClass("field-set border-round");
                $("#sEmail").css("display", "block");
                $("#dEmail").addClass("field-set error");
                $("#sEmail").text("Please enter valid email !");
            }
            else {
                $("#dEmail").removeClass("field-set error");
                $("#sEmail").css("display", "none");
                $("#dEmail").addClass("field-set border-round");
                $("#sEmail").text("");
                VEmail = true;
            }

        }

        if ($("#billinfo_Fullname").val() == null || $("#billinfo_Fullname").val() == "") {
            $("#dFullname").removeClass("field-set border-round");
            $("#sFullname").css("display", "block");
            $("#dFullname").addClass("field-set error");
            $("#sFullname").text("Can't be empty !");
        }
        else {
            $("#dFullname").removeClass("field-set error");
            $("#sFullname").css("display", "none");
            $("#dFullname").addClass("field-set border-round");
            $("#sFullname").text("");
            VFullName = true;
        }

        if ($("#billinfo_City").val() == null || $("#billinfo_City").val() == "") {
            $("#dCity").removeClass("field-set border-round");
            $("#sCity").css("display", "block");
            $("#dCity").addClass("field-set error");
            $("#sCity").text("Can't be empty !");
        }
        else {
            $("#dCity").removeClass("field-set error");
            $("#sCity").css("display", "none");
            $("#dCity").addClass("field-set border-round");
            $("#sCity").text("");
            VCity = true;
        }

        if ($("#billinfo_Address").val() == null || $("#billinfo_Address").val() == "") {
            $("#dAddress").removeClass("field-set border-round");
            $("#sAddress").css("display", "block");
            $("#dAddress").addClass("field-set error");
            $("#sAddress").text("Can't be empty !");

        }
        else {
            $("#dAddress").removeClass("field-set error");
            $("#sAddress").css("display", "none");
            $("#dAddress").addClass("field-set border-round");
            $("#sAddress").text("");
            VAddress = true;
        }

        if ($("#billinfo_PostalCode").val() == null || $("#billinfo_PostalCode").val() == "") {
            $("#dPostalcode").removeClass("field-set border-round");
            $("#sPostalcode").css("display", "block");
            $("#dPostalcode").addClass("field-set error");
            $("#sPostalcode").text("Can't be empty !");

        }
        else {
            $("#dPostalcode").removeClass("field-set error");
            $("#sPostalcode").css("display", "none");
            $("#dPostalcode").addClass("field-set border-round");
            $("#sPostalcode").text("");
            VPostalCode = true;
        }
        if ($("#billinfo_Phone").val() == null || $("#billinfo_Phone").val() == "") {
            $("#dPhone").removeClass("field-set border-round");
            $("#sPhone").css("display", "block");
            $("#dPhone").addClass("field-set error");
            $("#sPhone").text("Can't be empty !");

        }
        else {
            $("#dPhone").removeClass("field-set error");
            $("#sPhone").css("display", "none");
            $("#dPhone").addClass("field-set border-round");
            $("#sPhone").text("");
            VPhone = true;
        }
        if (VEmail == true && VFullName == true && VCity == true && VAddress == true && VPostalCode == true && VPhone == true) {
            return true;
        }
        else {
            return false;
        }

    }


    function CheckProduct()
    {
        Validation();
        var status = true;
        var name = $("#DDLCountry").find("option:selected").text();
        if(name != "Choose ")
        {
            var numItems = $('.WhereTosent').length
            $(".WhereTosent").each(function() {

                if(name != "Ireland")
                {
                    var ck =  $(this).val();
                    if(ck == "Ireland")
                    {
                        debugger;
                        $(this).parent('div.cartItems').css("background", "pink");
                        $("#warning").css("display","block");
                        status = false;
                    }
                    else
                    {

                    }
                }
            });
            if(status == false)
            {
                return false;
            }
            else
            {
                return true;
            }
        }
        else{
            $("#sCountry").text("Please Select Country");
            return false;
        }
    }

    function Remove(ID)
    {
        $("#MainLoader").show();
        $("#SmallDiv_"+ID).remove();
        $("#div_"+ID).remove();

        var C = $("#CartCount").text();
        C = parseInt(C) - 1;
        $("#CartCount").text(C);
        $.ajax({

            type: "POST",

            url: '/AjaxCalling/RemoveCartLine',

            data: "{'ID':'" + ID + "'}",

            contentType: "application/json; charset=utf-8",

            dataType: "json",

            success: function (response) {
            },
            error: function (response) {
                var str = response.responseText;
                calculate();
                $("#MainLoader").hide();

            },
            failure: function (response) {
                $("#MainLoader").hide();
                alert("Service Failed");

            }

        });
    }




</script>

@{
    if (Model.Settings != null)
    {
        <input type="hidden" name="shippingPriceIreland" id="shippingPriceIreland" value="@Model.shippingPriceIreland" />
        <input type="hidden" name="shippingPriceInterNational" id="shippingPriceInterNational" value="@Model.shippingPriceInterNational" />
        <input type="hidden" name="IrelandMoreThen" id="IrelandMoreThen" value="@Model.IrelandMoreThen" />
        <input type="hidden" name="InterNationalMoreThen" id="InterNationalMoreThen" value="@Model.InterNationalMoreThen" />
    }
}

<main>
    <input type="hidden" name="hdnSubTotal" id="hdnSubTotal" />
    <section id="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="warning" style="display:none;">Please remove the highlighted product(s). They contain lithium </div>
                </div>
            </div>
            <form method="post" action="/Product/CheckOut" enctype="multipart/form-data" id="FormUser">
                <div class="row">
                    <div class="col-md-6">
                        <div class="checkout-customer-form">

                            <h2>Customer Infomation</h2>
                            <div class="form-group">
                                <div class="row" id="dEmail">
                                    <div class="col-md-4">
                                        <label class="control-label">Email <span class="required">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.TextBoxFor(x => x.billinfo.Email, new { @class = "form-control", @type = "email", @placeholder = "Email" })
                                            <span class="error" id="sEmail"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h2>Shipping Infomation</h2>

                            <div class="form-group">
                                <div class="row" id="dFullname">
                                    <div class="col-md-4">
                                        <label class="control-label">Full Name <span class="required">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.TextBoxFor(x => x.billinfo.Fullname, new { @class = "form-control", @placeholder = "Full name" })
                                            <span class="error" id="sFullname"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="row" id="dAddress">
                                    <div class="col-md-4">
                                        <label class="control-label">Address <span class="required">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.TextBoxFor(x => x.billinfo.Address, new { @class = "form-control", @placeholder = "Address" })
                                            <span class="error" id="sAddress"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row" id="dCity">

                                    <div class="col-md-4">
                                        <label class="control-label">Country <span class="required">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <select class="form-control" id="DDLCountry" name="DDLCountry" data-search="true">
                                                @{
                                                    @*<option value="0">Choose </option>*@
                                                    foreach (var item in Model.Region)
                                                    {
                                                <option value="@item.ID">@item.Name</option>
                                                    }
                                                }
                                            </select>
                                            <span class="error" id="sCountry"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row" id="dCity">

                                    <div class="col-md-4">
                                        <label class="control-label">City <span class="required">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.TextBoxFor(x => x.billinfo.City, new { @class = "form-control", @placeholder = "City" })
                                            <span class="error" id="sCity"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row" id="dPostalCode">

                                    <div class="col-md-4">
                                        <label class="control-label">Zip Code </label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.TextBoxFor(x => x.billinfo.PostalCode, new { @class = "form-control", @placeholder = "Zip Code" })
                                            <span class="error" id="sPostalCode"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="row" id="dPhone">
                                    <div class="col-md-4">
                                        <label class="control-label">Phone <span class="required">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.TextBoxFor(x => x.billinfo.Phone, new { @class = "form-control", @placeholder = "Phone" })
                                            <span class="error" id="sPhone"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <!-- Button -->
                            @*<div class="form-group">

                                    <button type="submit" class="btn btn-primary" onclick="return Validation();">Send</button>

                                </div>*@

                        </div>
                    </div>
                    @{
                        if (Model.CartProducts != null)
                        {
                            <div class="col-md-6">
                                <div class="cartSummary">
                                    <h2>Cart Summary</h2>
                                    @Html.HiddenFor(x => x.CartProducts.FirstOrDefault().Cart.ID, new { @Name = "Cart_ID" })
                                    @{
                            foreach (var item in Model.CartProducts)
                            {
                                <div class="cartItems" id="div_@item.ID">

                                    @{
                                string Sent = "";
                                if (item.Product.SentInternational == true)
                                {

                                }
                                else
                                {
                                    Sent = "Ireland";
                                }
                                    }
                                    <input type="hidden" name="internation" id="internation" class="WhereTosent" value="@Sent">
                                    <div class="item">
                                        <div class="image"><a href="#"> <img src="~/Resources/ProductImages/@item.Product.ProductImages.FirstOrDefault().Images" alt="name"></a> </div>
                                        <div class="desc">
                                            <div class="name"><a href="/@item.Product.Url-@item.Product.ID">@item.Product.Name</a></div>
                                            <div class="info">
                                                <span class="color">@item.Product.Colour</span>
                                            </div>
                                            <div class="qtyBox">
                                                <input type="number" class="qtyValue" id="qty_@item.ID" name="quantity" min="1" max="5" />
                                                <span class="price">€ @item.Product.PriceWithoutVAT</span>
                                            </div>
                                        </div>
                                        <div class="removeItem">
                                            <a onclick="Remove(@item.ID)"><span class="fa fa-close"></span></a>
                                        </div>
                                    </div>
                                    @*<input type="hidden" id="Check"*@
                                    <input type="hidden" id="hdnQty_@item.ID" value="@item.Quantity" />
                                    <input type="hidden" id="hdnTotal_@item.ID" class="hdnTotal" />
                                    <input type="hidden" id="hdnPrice_@item.ID" value="@item.ProductPrice" />
                                    <script>
                                        $("#qty_@item.ID").attr({
                                            "max": @item.Product.Quantity,
                                            "value":@item.Quantity,
                                        });
                                        var total = parseFloat(@item.ProductPrice) * parseFloat(@item.Quantity);
                                        $("#spanTotal_@item.ID").text("€" + parseFloat(total).toFixed(2));
                                        $("#hdnTotal_@item.ID").val(parseFloat(total).toFixed(2));
                                    </script>

                                </div>

                            }
                                    }
                                    <div class="cartTotals">
                                        <div class="full-width">
                                            <div class="left"><label>Subtotal</label></div>
                                            <div class="right" id="SpanSubTotal"></div>
                                        </div>

                                        <div class="full-width">
                                            <div class="left"><label>VAT <small><b>(23%)</b></small></label></div>
                                            <div class="right" id="spanTax"></div>
                                        </div>


                                        <div class="full-width">
                                            <div class="left"><label>Shipping</label></div>
                                            <div class="right" id="spanShipping"></div>
                                        </div>

                                        <div class="full-width last">
                                            <div class="left"><label>Total</label></div>
                                            <div class="right" id="spanFinal"></div>
                                            <input type="hidden" name="hdnFinal" id="hdnFinal">
                                        </div>
                                    </div>


                                    <div class="cartButton">
                                        <a href="/" class="continueShopping">Continue Shopping</a>
                                        <button type="submit" class="btn btn-primary" onclick="return CheckProduct()">Checkout</button>
                                    </div>



                                </div>
                            </div>
                        }}
                </div>
            </form>



        </div>
    </section><!-- main content end -->

</main>
