﻿@model Compuparts.Models.ExtraDetail
@{
    ViewBag.Title = "AddExtraDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-9">
    <h2>Add <strong>New ExtraDetail</strong></h2>
</div>
<div class="col-xs-3">
    <input type="button" value="Manage ExtraDetail" style="float:right;" class="btn btn-dark" data-toggle="modal" data-target="#modal-select" onclick="location.href = '/ExtraDetails/ManageExtraDetail'">
</div>

<form method="post" enctype="multipart/form-data" id="FormUser">

    <div class="row">
        <div class="col-lg-12 portlets">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Name </label>
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @required = "required" })
                            </div>
                        </div>
                    </div>

                    <div>
                        <label>Product Detail</label>
                        @Html.TextAreaFor(model => model.Detail, new { @class = "form-control ckeditor" })
                    </div>
                    <div>
                        @{
                            string Text = "Add Detail";
                            if (Model != null)
                            {
                                Text = "Update Detail";
                            }
                        }


                        <input type="submit" id="btnSave" class=" btn btn-dark" value="@Text" name="Save" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

