﻿@model Compuparts.Models.ContentUnit
@{
    ViewBag.Title = "AddContentUnit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var ID = $('#hdn_login_UserID').val();
        $('#hdn_UserID').val(ID);
    });

    $(function () {
        $('#UnitCode').on('keypress', function (e) {
            if (e.which == 32)
                return false;
        });
    });
    function checkcode() {
        var code = $("#UnitCode").val();
        if (code.match(/[a-z]/i)) {
            if (code.match(/[0-9]/i)) {
                return true;
            }
            else {
                $('#eormsg').css('display', 'block');
                return false;

            }
        }
        else {
            $('#eormsg').css('display', 'block');s
            return false;
        }
    }

</script>
<div class="col-xs-9">
    <h2>Add <strong>Content Unit</strong></h2>
</div>
<div class="col-xs-3">
    <input type="button" value="Manage Content Unit" style="float:right;" class="btn btn-dark" data-toggle="modal" data-target="#modal-select" onclick="location.href = '/ContentUnit/ManageContentUnit'">
</div>
<form method="post" enctype="multipart/form-data" id="FormUser">

    <div class="row">
        <div class="col-lg-12 portlets">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="hdn_UserID" type="hidden" name="hdn_UserID" />
                                <label class="form-label">Unit Name</label>
                                @Html.TextBoxFor(x => x.UnitName, new { @placeholder = "Enter Unit Name", @class = "form-control", @required = "required" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">Unit Code</label>
                                <span style="display:none; color:red;" id="eormsg">Enter AlphaNumeric Characters e.g ABC123</span>
                                @Html.TextBoxFor(x => x.UnitCode, new { @placeholder = "Enter Unit Code", @class = "form-control", @required = "required", @style = "text-transform: uppercase" })
                                <span><strong>Note :</strong>Special charaters are not allowed, Code should be <strong>Alphanumeric</strong></span>
                            </div>
                        </div>
                    </div>
                    <label class="form-label">Description</label>
                    <div>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control ckeditor", @id = "editorid" })
                    </div>
                    <div>
                        @{
                            string Text = "Add Unit";
                            if (Model != null)
                            {
                                Text = "Update Unit";
                            }
                        }


                        <input type="submit" id="btnSave" onclick="return checkcode();" class=" btn btn-dark" value="@Text" name="Save" />
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>

