﻿@model Compuparts.Models.FAQ

@{
    ViewBag.Title = "AddFAQs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {

            $('#erormsg').css('display', 'block');
            return false;
        }
        else {
            $('#erormsg').css('display', 'none');
            return true;
        }
    }

  
    </script>
<div class="col-xs-9">
    <h2>Add <strong>FAQs</strong></h2>
</div>
<div class="col-xs-3">
    <input type="button" value="Manage FAQs" style="float:right;" class="btn btn-dark" data-toggle="modal" data-target="#modal-select" onclick="location.href = '/ContentUnit/ManageFAQs'">
</div>
<form method="post" enctype="multipart/form-data" id="FormUser">

    <div class="row">
        <div class="col-lg-12 portlets">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="hdn_UserID" type="hidden" name="hdn_UserID" />
                                <label class="form-label">Title</label>
                                @Html.TextBoxFor(x => x.Title, new { @placeholder = "Enter Title", @class = "form-control", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Sortorder</label><br />
                                <span style="color:red; display:none;" id="erormsg">Enter Numeric Charaters only</span>
                                @Html.TextBoxFor(x => x.SortOrder, new { @placeholder = "Enter Sortorder", @class = "form-control", @onkeypress = "return isNumber(event)" })
                               
                            </div>
                        </div>
                    </div>
                    <label class="form-label">Description  </label><br />
                    <span style="color:red;">@ViewBag.Error</span>
                    <div>
                        @Html.TextAreaFor(model => model.Decsription, new { @class = "form-control ckeditor", @id = "editorid" })
                        
                    </div>
                    <div>
                        @{
                            string Text = "Add FAQs";
                            if (Model != null)
                            {
                                Text = "Update FAQs";
                            }
                        }

                        <input type="submit" id="btnSave"  onclick="return Valid();" class=" btn btn-dark" value="@Text" name="Save" />
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>



