@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto/roboto.black-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto.black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/roboto.bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto.bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/roboto.light-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto.light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto/roboto.medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto.medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto.regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
