

/*media queries*/
@media only screen and (max-width: 1359px) {
     #slideShow .carousel-inner > .item img{width: 350px;}
    div.product-box {
        width: 275px
    }
}
@media only screen and (max-width: 1199px) {
     .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9{
          padding: 0px 15px;
     }
     .navbar-default .navbar-nav > li > a{font-size: 14px;}
     #headerBottom div.topCartBox{display: none;}
     #headerTop .topCartBox a{padding: 9px 15px;}
     #headerTop .topCartBox a i{font-style:normal;}
     #headerTop .topCartBox div.miniCart{top: 36px;}

     #slideShow .carousel-inner > .item img{width: 270px !important;}
     #slideShow .carousel-caption{width: 390px !important;}
     .carousel-control.right{right: 15px !important;}
     .carousel-control.left{left: 15px !important;}

     div.product-box div.product-details div.price.ex-vat{
          float: left;
          width: auto;
     }
     div.product-box div.product-details div.price.inc-vat {
         float: right;
         width: auto;
     }
     div.product-box div.product-details div.price-group div.col-md-6{width: 50% !important;float: left !important;}



    div.searchBox form {
        width: 400px
    }
    div.searchBox input.form-control {
        width: 355px
    }
    #headerCenter div.contactNumber {
        font-size: 14px
    }
    div.product-box { width: 31.8%}
    div.product-categories ul li a {
        font-size: 14px
    }
    div.featureBox p {
        font-size: 12px
    }
    div.product-box.list div.product-details {
        width: 360px
    }
    div.product-box.list div.product-details div.product-name a {
        font-size: 16px
    }


    #similarProductsCarsole .carousel-control.left{
         left: auto !important;
         right: 55px !important;
    }
    div#similarProductsCarsole div.product-box {
         width: 100% !important;
         overflow: hidden;
         margin: 0px !important;
     }
     #similarProductsCarsole div.col-xs-3{
          padding: 10px !important;
          width: 33.3% !important;
     }
     div#similarProductsCarsole{
          margin: 0px -10px;
     }
     div.featureBox{min-height: 52px;}
     div.cartSummary .item .image{width: 100px;height: 100px;}
}
@media only screen and (max-width: 990px) {
    #headerCenter div.contactNumber {
        font-size: 18px;
        border: 0;
        text-align: right
    }
    #headerCenter{position: relative;padding: 15px 0;border-bottom: 1px #d5d5d5 solid !important;}
    .navbar-toggle {
        background: #f15a21 none repeat scroll 0 0;
        border-radius: 3px;
        display: block;
        float: none;
        left: 15px;
        margin: 0;
        position: absolute;
        right: auto;
        top: 15px;
        z-index: 999999;
    }
    .navbar-toggle .icon-bar{background: #fff;}
    div.logo{left: 40px;}
    #headerBottom div.container {width: 100%;}
    nav.navbar-default{max-height: 300px;overflow: hidden;overflow-y: auto;}
#headerBottom{background: none !important;}
    #headerBottom .navbar-collapse {
         border: 0 none;
         display: none !important;
         float: left;
         margin: 0;
         padding: 0;
         width: 100%;
         /*min-height: 370px !important;*/
         height: auto !important;
         overflow: hidden !important;
         overflow-y: auto !important;
         background: #333 !important;
     }
     #headerBottom .navbar-collapse.in{display: block !important;}
     .nav.navbar-nav {
         float: left;
         width: 100%;
         margin: 0px !important;
     }
     .navbar-nav > li {
         float: left;
         width: 100%;
         border-bottom: 1px solid rgba(255, 255, 255, 0.1);
     }
     .nav.navbar-nav  ul.dropdown-menu {
         min-width: 100%;
         padding: 0;
         position: relative;
         width: 100%;
         z-index: 999;
     }
     .dropdown-submenu > .dropdown-menu {
         background: #f1f1f1 none repeat scroll 0 0;
         border: 0 none;
         box-shadow: none;
         left: 0;
         margin-left: 0;
         margin-top: 0;
         right: 0;
         top: 0;
     }
     ul.dropdown-menu li a{padding: 10px 20px;}
     ul.dropdown-menu ul li a {padding: 10px 40px;}
     .navbar-default .navbar-nav > li > a{font-size: 16px !important;}


     .navbar-nav > li.dropdown span.caret {
         border: 0px solid rgba(255, 255, 255, 0.1);
         bottom: 2px;
         color: #ffffff;
         display: inline-block;
         font-size: 20px;
         height: 40px;
         line-height: 50px;
         margin: 0;
         position: absolute;
         right: 10px;
         top: 2px;
         display: block !important;
         width: 40px;
     }
     .navbar-nav > li.dropdown span.caret::after {
         bottom: 0;
         content: "\f107";
         font-family: fontawesome;
         left: 0;
         line-height: normal;
         position: absolute;
         right: 0;
         text-align: center;
         top: 9px;
     }
     .navbar-nav > li.dropdown span.caret.opened::after{
           content: "\f106";
     }
     .navbar-default .navbar-nav > li > a:hover{
          background: none;
          color: #fff;
     }
     .navbar-nav > li.dropdown a{display: inline-block;position: static;}
     .navbar-default .navbar-nav  > li.dropdown.open {
          background: #f15a21 none repeat scroll 0 0;
     }
     .navbar-default .navbar-nav > li > a span.caret{
          display: none !important;
     }
     .navbar-nav > li.dropdown.opened {
         background: #f15a21!important;
     }
     .navbar-nav > li.dropdown.opened ul.dropdown-menu{
          border: 0 none;
         display: block !important;
         float: left;
         position: relative;
         width: 100%;


         bottom: auto;
        display: block;
        float: left;
        max-width: 100%;
        min-width: 100%;
        position: relative;
        top: auto;
        width: 100%;
        z-index: auto;
     }
     .navbar-nav > li.dropdown.opened ul.dropdown-menu li.dropdown-submenu ul{display: none !important;}
     .navbar-nav > li.dropdown.opened ul.dropdown-menu li.dropdown-submenu.opened ul{display: block !important;}
     .dropdown-submenu {
         border-bottom: 1px solid #d5d5d5;
         float: left;
         position: relative;
         width: 100%;
     }
     .navbar-nav > li.dropdown li.dropdown-submenu  span.caret{
          color: #000;
          border-color: #000;
     }
     ul.dropdown-menu li a{border: 0px;}
     .navbar-default .navbar-nav > li.dropdown:hover ul.dropdown-menu{display: none;}

     #slideShow .carousel-caption{width: 350px !important;}
     #slideShow .carousel-inner > .item img{width: 250px !important;margin-right: 0px !important;}


    div.searchBox {
        float: right;
        width: 400px
    }
    div.searchBox form {
        float: right;
        width: 100%
    }
    div.logo {
        overflow: hidden;
        position: relative;
        top: 29px;
        width: 250px
    }
    .hidden-mobile {
        display: none
    }
    div.product-box {
        width: 48%;
    }
    div.product-box div.product-details div.product-name a {
        font-size: 14px
    }
    div.product-box div.product-details div.price {
        text-align: center;
        font-size: 14px
    }
    div.product-box div.button-group a {
        padding: 12px 5px;
    }
    div.product-box.list {
        height: auto
    }
    div.product-box.list div.product-details {
        width: 300px;
        padding: 0 10px
    }
    #headerTop div.topCBox{display: block;}
    div.product-box.list div.button-group {
        border-left: 0 solid #dadada;
        border-top: 1px solid #d5d5d5;
        float: left;
        height: 100%;
        padding: 10px 25px 0;
        width: 100%
    }
     div.dtProductsInDt h2.productTitle{margin-top: 25px;}

     div#similarProductsCarsole div.product-box div.product-details div.price-group div.col-md-6 {
         width: 100% !important;
         float: left !important;
         text-align: center !important;
     }
     div#similarProductsCarsole div.product-box div.product-details div.price {
         float: left !IMPORTANT;
         width: 100% !important;
         text-align: center !important;
     }
          div#similarProductsCarsole div.product-box div.button-group button.add-to-cart-button{font-size: 10px;}
          div.featureBox img{padding-bottom: 25px;}
          div.cartSummary .item div.desc{width: 485px;}
          div.cartSummary .item div.removeItem{top: 10px;}

}
@media only screen and (max-width: 767px) {
    #headerCenter {
        padding: 31px 0
    }
    div.logo {
        text-align: center;
        margin: 0;
        top: auto;
        width: auto;
        left: auto !important;
    }
    div.logo a {
        display: inline-block
    }
    #headerCenter div.contactNumber {
        text-align: center
    }
    div.searchBox {
        float: none;
        margin: 20px auto 0;
        width: 400px
    }
    #headerTop ul.toplinks li,
    #headerTop ul.toplinks li.reomveContentAfter.hidden-mobile {
        display: none
    }
    #headerTop ul.toplinks li.reomveContentAfter {
        display: block
    }
    #headerCenter .leftPadding {
        padding: 0 15px
    }


     #slideShow .carousel-inner > .item img{margin: 0 auto !important;float: none !important;}
     #slideShow .carousel-caption{width: 100% !important;text-align: center;}
     #slideShow .carousel-caption div.btnLink{float: none;margin-right: 0px;}
     #slideShow .carousel-caption div.slideTitle{padding-top: 15px;font-size: 25px;}

    #btnproductCategories {
        display: block;
        background: #f15a21;
        color: #fff;
        border-radius: 3px;
        border: 0
    }
    div.product-categories h2,
    ul.listcatLinks {
        display: none
    }
    .listcatLinks.open {
        background: #d5d5d5;
        display: block!important
    }
    div.product-categories ul li a {
        padding: 5px 12px
    }
    div.products-container {
        text-align: center;
        float: left;
        width: 100%
    }
    div.product-box {
        width: 47%;
        float: none;
        display: inline-block
    }
    #featuredCatalog div.box div.overlay {
        width: auto;
        left: 0
    }
    #featuredCatalog div.box div.overlay p a {
        padding: 15px;
        font-size: 14px
    }
    div.product-box.list div.product-image {
        width: 120px
    }
    div.product-box.list div.product-image span a img {
        height: 100px;
        width: 100px
    }
    div.product-box.list div.button-group {
        border-left: 1px solid #dadada;
        border-top: 0 none;
        float: right;
        height: 100%;
        width: 125px
    }
    div.product-box.list div.product-details {
        width: 45%
    }
    div.product-box.list div.button-group a {
        padding: 8px 0;
        font-size: 10px
    }
    div.product-box.list div.product-details div.product-name a {
        margin: 0;
        text-align: left;
        text-overflow: ellipsis;
        transition: all 0s ease 0s;
        white-space: nowrap;
        width: 100%
    }
    div.product-box.list div.button-group {
        padding: 20px 10px 12px
    }

     #features div.col-md-3:nth-child(2) div.featureBox:after{display: none;}
     #features div.featureBox{border-bottom: 0px;}

     #similarProductsCarsole div.col-xs-3{width: 48% !important;}
     div#similarProductsCarsole div.product-box div.button-group button.add-to-cart-button{font-size: 12px;}

     div.featureBox img{padding-bottom: 0px;}
     div.featureBox{min-height: 40px;}
     div.cartSummary .item div.desc{width: 360px;}

}
@media only screen and (max-width: 599px) {
    div.product-box div.button-group a {
        font-size: 10px
    }
    div.product-box {
        width: 46%;
   }
     div.product-box div.product-details div.price-group div.col-md-6{width: 100% !important;}
     div.product-box div.product-details div.price{float: left;width: 100% !important;text-align: center;}

     div.product-box div.button-group button.add-to-cart-button{width: 100% !important;}
     div.product-box div.button-group a{font-size: 12px;width: 100%;}

     div.cartSummary .item div.desc{width: 240px;}
     div.cartSummary  div.cartButton a{width: 42%;margin: 2%;padding: 15px 5px;}
}
@media only screen and (max-width: 479px) {
     div.logo img{width: 150px !important;}
    #headerTop div.left {
        width: auto !important;
        float: left;
    }
    #headerTop div.right {
        width: 90px;
        padding:0px;
        float: right;
    }
    .login-resgister {
        float: left;
        display: block
    }
    div.searchBox {
        width: 310px
    }
    div.searchBox input.form-control {
        width: 265px
    }
     #headerCenter{padding: 15px 0px !important;}
    #headerCenter div.contactNumber {
        border: 0;
        font-size: 14px;
        padding: 0px;
        margin: 0px;
    }

     div.products-container{margin:0px;}
     #slideShow .carousel-inner > .item img{width: 150px !important;}
     #slideShow .carousel-inner > .item{padding: 0px 15px;}
     #slideShow .carousel-control{display: none;}

    #featuredCatalog .cstmPadding {
        width: 100%;
        margin-bottom: 15px
    }
    #featuredCatalog div.box img {
        width: 100% !important;
    }
    #features div.col-md-3 {
        width: 100%!important
    }
    div.product-box.list div.product-image {
        width: 100%
    }
    div.product-box.list div.product-image span a img {
        width: auto;
        height: auto
    }
    div.product-box.list div.product-details {
        border-top: 1px solid #d5d5d5;
        text-align: center;
        width: 100%
    }
    div.product-box.list div.product-details div.product-name a {
        text-align: center;
        white-space: normal
    }
    div.product-box.list div.product-details div.price-group div.col-md-6 {
        width: 100%
    }
    div.product-box.list div.button-group {
        width: 100%;
        margin-top: 10px;
        border-left: 0 solid #dadada;
        border-top: 1px solid #d5d5d5
    }
    div.products-fiters div.col-md-6 {
        text-align: center;
        width: 100%
    }
    div.products-fiters div.sortby {
        text-align: center
    }
    div.product-box {
        width: 45%;
   }
   #features  div.featureBox:after{display: none;}
   div.cartSummary .item .image{width: 80px;height: 80px;}
   div.cartSummary .item div.desc{width: 200px;}
   div.cartSummary  div.cartButton a{width: 100%;margin: 0px 0px 20px;}
}
@media only screen and (max-width: 399px) {
    div.product-box {
        width: 100% !important;
        margin: 0px 0px 20px !important;
    }
    div.product-box div.button-group button.add-to-cart-button{width:50% !important;}
    div.product-box div.button-group a{font-size: 12px;width:50%;}

    #similarProductsCarsole div.col-xs-3{width: 100% !important;}
   #similarProductsCarsole  div.product-box div.button-group button.add-to-cart-button{
         font-size: 12px;
    }
    div.cartSummary .item .image{width: 50px;height: 50px;}
    div.cartSummary .item div.desc{width: 205px;}
}
@media only screen and (max-width: 359px) {
    div.searchBox {
        width: 100%
    }
    div.searchBox input.form-control {
        width: auto
    }
    div.cartSummary .item div.desc{width: 150px;}
    div.cartSummary .item div.removeItem {
         position: absolute;
         top: 80px;
         right: auto;
         left: 13px;
     }
}
