h2.heading {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: robotolight;
    color: #000;
    position: relative;
    text-transform: capitalize;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
h2.heading:after {
    content: "";
    border-bottom: 1px red solid;
    position: absolute;
    left: 46%;
    bottom: 0;
    width: 8%
}
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
    padding-left: 10px;
    padding-right: 10px
}
.row {
    margin: 0 -15px
}
.container {
    width: 1220px
}
@media only screen and (max-width: 1360px) {
    .container {
        width: 1180px
    }
}
@media only screen and (max-width: 1199px) {
    .container {
        width: 980px
    }
}
@media only screen and (max-width: 990px) {
    .container {
        width: 760px
    }
}
@media only screen and (max-width: 767px) {
    .container {
        width: auto
    }
}
body {
    margin: 0;
    font-family: robotoregular
}
li {
    list-style: none
}
ul {
    padding: 0
}
a {
    outline: 0;
    transition: all .5s ease 0s
}
a:focus,
a:hover {
    outline: 0;
    text-decoration: none;
    color: #f15a21
}
section {
    float: left;
    width: 100%
}
.removePadding {
    padding: 0
}
#btnproductCategories {
    display: none
}
header {
    float: left;
    width: 100%
}


/*header scrolled*/
header.scrolled{
     position: fixed;
     top: 0 !important;left: 0px;right: 0;
     z-index: 99999999999;
     transition: all 0.7s ease 0s;``
}
header.scrolled #headerCenter, header.scrolled #headerTop{
     display: none;
}
 #headerBottom{
     transition: all 0.7s ease 0s;
}

















#headerTop {
    float: left;
    width: 100%;
    background: #0b50d0;
    color: #fff
}
#headerTop div.topCBox{display: none;}
#headerTop div.right {
    text-align: right
}
#headerTop ul.toplinks {
    float: left;
    width: 100%;
    margin-bottom: 0
}
#headerTop ul.toplinks li {
    float: left;
    margin-right: 13px
}
#headerTop ul.toplinks li span {
    padding-right: 10px
}
#headerTop ul.toplinks li a {
    padding: 8px 0;
    color: #fff;
    display: block;
    font-size: 14px;
    margin-right: 13px
}
#headerTop ul.toplinks li a:after {
    background: #fff;
    border-left: 1px solid #fff;
    content: "";
    height: 15px;
    margin-left: 15px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    width: 1px
}
#headerTop ul.toplinks li a:hover {
    color: #f15a21
}
#headerTop li.reomveContentAfter {
    margin-right: 0;
    margin-top: 7px
}
#headerTop li.reomveContentAfter::after {
    display: none
}
#headerTop li.reomveContentAfter:hover {
    color: #fff
}
.login-resgister {
    display: inline-block
}
.login-resgister a {
    display: block;
    color: #fff;
    font-size: 12px;
    padding: 10px 13px 9px;
    margin-right: 0
}
.login-resgister a span {
    padding-right: 15px
}
.login-resgister a:hover {
    color: #f15a21
}
.topCartBox {
    display: block;
    float: right;
    position: relative;
}
div.no-display{
     display: block !important;
}
.topCartBox a {
    background: #2c2c2c;
    color: rgba(255, 255, 255, .9);
    display: block;
    font-size: 12px;
    padding: 17px 15px
}
.topCartBox a:hover {
    background: #f15a21;
    color: #fff
}
.topCartBox a span {
    padding-right: 2px;
    color: rgba(255, 255, 255, .9)
}

div.topCartBox div.miniCart.showing{display:block !important;}
div.miniCart {
     background: hsl(0, 0%, 35%) none repeat scroll 0 0;
    box-shadow: 0 1px 2px hsl(0, 0%, 37%);
    position: absolute;
    right: 0;
    top: 51px;
    width: 300px;
    display: none;
    z-index: 99999;
}
div.miniCart div.top div.item {
    border-bottom: 1px solid hsl(0, 0%, 84%);
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
}
div.miniCart div.top div.item:last-child{
     border-bottom: 0px;
}
div.miniCart div.cartItem {
    float: left;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px #e5e5e5 solid;
    padding: 0px !important;
}
div.miniCart div.cartItem:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0
}
div.miniCart div.cartItem div.image {
     background: hsl(0, 0%, 100%) none repeat scroll 0 0;
    border: 1px solid hsl(0, 0%, 84%);
    float: left;
    height: 70px;
    margin-right: 10px;
    overflow: hidden;
    padding: 2px;
    width: 75px;
}
div.miniCart div.cartItem div.image a{
     background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0 !important;
    height: 100% !important;
    padding: 0 !important;
    width: 100%;
}
div.miniCart div.cartItem div.image img {
    width: 100%;
    height: 100%
}
div.miniCart div.cartItem div.productdesc {
    float: left;
    width: 165px
}
div.miniCart div.cartItem div.productdesc a {
     background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0 !important;

    color: #333;
    font-size: 12px;
    line-height: normal;
    margin-bottom: 3px;
    padding: 0;
    text-align: left;
}
div.miniCart div.cartItem div.productdesc a:hover{
      color: hsl(16, 88%, 54%);
}
div.miniCart div.cartItem div.productdesc div.price {
    float: left;
    width: 100%;
    font-weight: 700;
    color: #000;
        text-align: left;
    font-size: 12px
}
div.miniCart div.cartItem div.removePrduct {
    float: right;

     color: #333;
    cursor: pointer
}
div.miniCart div.cartItem div.removePrduct:hover {
      color: #e95144;
}
div.miniCart div.top {
    float: left;
    width: 100%;
    padding: 15px;
    background: #E5E5E5
}
div.miniCart div.bottom {
    border-top: 1px #cbcbcb solid;
    padding: 15px 20px 6px;
    background: #f8f8f8;
    float: left;
    width: 100%
}

div.miniCart div.subtotal {
    float: left;
    width: 100%;
    color: #000
}
div.miniCart div.subtotal span.text {
    text-align: left;
    float: left;
    font-size: 13px;
    position: relative;
    top: 2px
}
div.miniCart div.subtotal span.value {
    float: right;
    font-size: 16px;
    font-weight: 700;
    text-align: right
}

div.miniCart div.subtotal span.Currency {
    float: right;
    font-size: 16px;
    font-weight: 700;
    text-align: right
}
div.miniCart a.btnCheckOut {
     background: hsl(0, 0%, 20%) none repeat scroll 0 0 !important;
      border-radius: 2px;
      clear: both;
      color: hsl(0, 0%, 100%);
      display: block;
      float: left;
      font-size: 13px;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 6px;
      margin-top: 12px;
      padding: 15px 10px !important;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
}
div.miniCart a.btnCheckOut:hover {
    background: #f15a21 !important;
}
div.miniCart a.btnCart {
    float: left;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    background: none !important;
}
div.miniCart a.btnCart:hover {
    color: #f15a21 !important;
}


#headerCenter {
    padding: 31px 0
}
#headerCenter .leftPadding {
    padding-left: 40px
}
#headerCenter div.contactNumber {
    border-left: 1px solid #e8e8e8;
    color: #505050;
    font-family: robotolight;
    font-size: 18px;
    padding-bottom: 0;
    padding-top: 5px;
    margin-top: 3px
}
div.logo {
    margin-top: 5px
}
div.searchBox {
    float: left;
    width: 100%
}
div.searchBox form {
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    float: left;
    margin: 0 -30px 0 0px;
    padding: 2px 0;
    width: 527px
}
div.searchBox input.form-control {
    border: 0;
    box-shadow: 0 0 0 transparent;
    height: auto;
    padding: 10px;
    color: #505050;
    width: 400px;
    float: left
}
div.searchBox input.form-control:focus {
    box-shadow: none
}
    div.searchBox button {
        border: 0;
        background: #0b50d0;
        color: #fff;
        float: right;
        margin-top: 4px;
        margin-right: 6px;
        padding: 6px 10px;
        border-radius: 3px
    }
div.searchBox button span {
    transform: rotate(-260deg)
}
#headerBottom {
    background: #0b50d0
}
.navbar-collapse {
    padding: 0 10px
}
nav.navbar-default {
    border-radius: 0;
    margin: 0;
    background: 0 0;
    border: 0;
    min-height: auto;
    float: left;
}
.navbar-default .navbar-nav>li>a {
    font-family: robotomedium;
    text-transform: uppercase;
    font-size: 16px; padding-left: 10px;
    padding-right: 10px;
    color: #fff
}
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > li > a:hover {
        background: #21e7f1;
        color: #fff
    }
.navbar-default .navbar-nav>li.dropdown:hover ul.dropdown-menu {
    display: block
}
ul.dropdown-menu {
    border-radius: 0;
    padding: 0;
	z-index:99999999999 !important
}
ul.dropdown-menu li a {
    text-align: left;
    padding: 5px 10px;
    text-transform: capitalize;
    color: #000;
    border-bottom: 1px #d5d5d5 solid
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    background-color: #21e7f1;
    color: #fff;
    text-decoration: none
}
.dropdown-menu>li>a:hover  .fa.fa-chevron-right {
	color:#fff !important;
}
.dropdown-submenu {
  position: relative;

}
.dropdown-submenu .fa.fa-chevron-right {
    color: hsl(0, 0%, 0%);
    display: inline-block;
    float: none;
    font-size: 12px;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 10px;
}
.dropdown-submenu > .dropdown-menu {
 box-shadow: none !important;
    display: none !important;
    left: 100%;
    margin-left: -1px;
    margin-top: -1px !important;
    border: 0px;
    top: 0;
}
.navbar-nav>li>.dropdown-menu .dropdown-submenu:hover  > .dropdown-menu {
  display: block !important;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}










#slideShow {
    float: left;
    width: 100%;
    /*background: #f8f8f8!important;*/
    background: #fff !important;
    padding: 15px 0 0
}
#slideShow div.container {
    position: relative
}
#slideShow .carousel-indicators {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    margin: 40px 0 30px;
    display: none
}
#slideShow .carousel-inner>.item {
    padding: 0 75px
}
#slideShow .carousel-caption {
    position: relative;
    left: 0;
    right: 0;
    text-align: left;
    text-shadow: none;
    width: 530px;
    float: left;
    padding-left: 0
}
#slideShow .carousel-indicators li {
    display: inline-block;
    background: #fff;
    border: 0;
    margin: 0;
    top: 0;
    height: 15px;
    width: 15px
}
#slideShow .carousel-indicators li.active,
#slideShow .carousel-indicators li:hover {
    background: #88bf3b;
    border: 0;
    height: 15px;
    width: 15px;
    margin: 0;
    top: 0
}
#slideShow .carousel-control {
    background: 0 0!important;
    box-shadow: none;
    text-shadow: none;
    display: block;
    width: auto;
    opacity: 1;
    top: 40%;
    bottom: auto
}
#slideShow .carousel-control:hover span {
    border-color: #f15a21;
    color: #f15a21
}
#slideShow .carousel-control span {
    border: 2px solid #363636;
    border-radius: 50%;
    color: #363636;
    font-size: 35px;
    padding-top: 4px;
    height: 50px;
    width: 50px
}
#slideShow .carousel-inner>.item img {
    width: 430px;
    float: left;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    margin-right: 75px
}
#slideShow .carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity
}
.carousel-fade .carousel-inner .active {
    opacity: 1
}
#slideShow .carousel-fade .carousel-inner .active.left,
#slideShow .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1
}
#slideShow .carousel-fade .carousel-inner .next.left,
#slideShow .carousel-fade .carousel-inner .prev.right {
    opacity: 1
}
#slideShow .carousel-fade .carousel-control {
    z-index: 2
}
#slideShow .carousel-caption div.slideTitle {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    padding-top: 55px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    font-family: robotobold;
    color: #282828
}
#slideShow .carousel-caption div.slideTitle span {
    display: block;
    line-height: normal;
    color: #f15a21
}
#slideShow .carousel-caption div.slideDescription {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    margin: 10px 0 20px;
    font-size: 13px;
    color: #282828;
    font-family: robotolight;
    font-weight: 300
}
#slideShow .carousel-caption div.btnLink {
    float: left;
    margin-right: 20px
}
#slideShow .carousel-caption div.btnLink a {
    background: #333;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: robotoregular;
    font-size: 12px;
    padding: 12px 25px;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none!important
}
#slideShow .carousel-caption div.btnLink a:hover {
    background: #f15a21;
    color: #fff
}
#slideShow .carousel-caption div.firstLink a {
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}
#features {
    background-color: #f15a21;
    margin-top: 20px
}
div.featureBox {
    float: left;
    width: 100%;
    padding: 8px 0;
    background-color: #f15a21;
    color: #fff;
    border-top: 1px #f26b39 solid;
    border-bottom: 1px #f26b39 solid
}
div.featureBox:after {
    background: #fff;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px
}
div.featureBox img {
    float: left;
    margin-right: 15px;
    margin-left: 15px
}
div.featureBox p {
    margin-bottom: 0;
    font-size: 16px;
    color: #fff;
    font-family: robotolight
}
div.featureBox.last {
    border-right: 0
}
div.featureBox.last:after {
    display: none
}
#featuredCatalog {
    margin: 0 0 20px
}
#featuredCatalog div.box {
    position: relative;
    overflow: hidden
}
#featuredCatalog div.box img {
    overflow: hidden;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s
}
#featuredCatalog div.box div.overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 230px
}
#featuredCatalog div.box div.overlay p {
    margin: 0
}
#featuredCatalog div.box div.overlay p a {
    background: #000;
    color: #fff;
    font-size: 16px;
    font-family: robotobold;
    display: block;
    padding: 20px
}
#featuredCatalog div.box:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}
#main-content {
    margin: 20px 0
}
div.product-categories {
    float: left;
    width: 100%;
    background: #f9f9f9;
    padding: 9px 25px 20px
}
div.product-categories h2 {
    font-size: 25px;
    font-family: robotolight;
    color: #000;
    position: relative;
    text-transform: capitalize;
    padding-bottom: 20px;
    margin-bottom: 20px
}
div.product-categories h2:after {
    content: "";
    border-bottom: 1px red solid;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%
}
div.product-categories ul li a {
    color: #000;
    text-transform: capitalize;
    font-size: 16px;
    font-family: robotoregular;
    display: block;
    padding: 5px 0
}
div.product-categories ul li a span {
    float: right
}
div.product-categories ul li a:hover {
    color: #f15a21
}
div.products-container {
    margin: -7px -7px 0
}
div.product-box {
    border: 1px solid #dadada;
    width: 288px;
    float: left;
    margin: 7px
}
div.product-box div.product-image {
    text-align: center;
    height: 270px;
    overflow: hidden;
    border-bottom: 1px #dadada solid
}
div.product-box div.product-image span {
    display: table;
    width: 100%;
    height: 100%
}
div.product-box div.product-image span a {
    display: table-cell;
    vertical-align: middle
}
div.product-box div.product-image span a img {
    overflow: hidden;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s
}
div.product-box div.product-image img {
    display: inline-block
}
div.product-box div.product-details {
    float: left;
    font-family: robotolight;
    width: 100%
}
div.product-box div.product-details div.product-name {
    float: left;
    width: 100%;
    text-align: center;
    margin: 15px 0
}
div.product-box div.cartQuantity{
	float:left;width:100%;
	padding:10px 0px;
	  border-bottom: 1px #dadada solid;
}
div.product-box div.cartQuantity div.box .input-group-btn>.btn{
	border-radius:0px !important;
}
div.product-box div.cartQuantity div.box .input-group-btn>.btn:hover{
	background:#f15a21!important;
	border-color:#f15a21!important;
	color:#fff;
}
div.product-box div.cartQuantity div.box{
	width:120px;
	margin:0 auto;
}
div.product-box div.cartQuantity div.box input[type="text"]{
	text-align:center;
	font-weight:bold;
}
div.product-box div.product-details div.product-name a {
    color: #000;
    display: block;
    font-family: robotolight;
    font-size: 14px;
    line-height: normal;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 10px;
    text-align: center;
    text-overflow: ellipsis;
    width: 100%;
    height: 65px;
    transition: all 0s ease 0s
}
div.product-box div.product-details div.price-group {
    width: 100%;
    float: left;
    padding: 0 0 20px;
    border-bottom: 1px #dadada solid
}
div.product-box div.product-details div.price {
    font-size: 16px;
    color: #333;
    width: 124px;
}
div.product-box div.product-details div.price span {
    color: #f15a21
}
div.product-box div.product-details div.price i {
    font-style: normal
}
div.product-box div.button-group {
    float: left;
    width: 100%
}
div.product-box div.button-group a {
    display: block;
    font-size: 12px;
    font-family: robotoregular;
    font-weight: 900;
    padding: 12px;
    line-height: normal;
    float: left;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: #404040;
    transition: all 0s ease 0s
}
div.product-box div.button-group a:hover {
    background: #f15a21!important;
    color: #fff!important
}
div.product-box div.button-group a.add-to-cart-button {
    background: #000;
    color: #fff
}
div.product-box div.button-group a.add-to-cart-button span {
    margin-right: 5px
}
div.product-box div.button-group a , div.product-box div.button-group button{
    display: block;
    font-size: 12px;
    font-family: robotoregular;
    font-weight: 900;
    padding: 12px;
    line-height: normal;
    float: left;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: #404040;
    transition: all 0s ease 0s
    border:0px;
}
div.product-box div.button-group a:hover , div.product-box div.button-group button:hover{
    background: #f15a21!important;
    color: #fff!important
}
div.product-box div.button-group button.add-to-cart-button {
    background: #000;
    color: #fff;
    border:0px;
    transition: all 0.5s ease 0s;
}
div.product-box div.button-group button.add-to-cart-button span{
     margin-right: 5px;
}
div.product-box:hover div.product-image img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}
div.product-box:hover div.product-name a {
    color: #f15a21!important
}
div.products-container.removemargin {
    margin: 0
}
div.product-box.list {
    border: 1px solid #dadada;
    float: left;
    margin: 0 0 20px;
    width: 100%;
    height: 160px;
    overflow: hidden;
    position: relative;
}
div.product-box.list div.product-image {
    border-bottom: 0 solid #dadada;
    border-right: 1px solid #dadada;
    float: left;
    height: 100%;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    width: 15%;
}
div.product-box.list div.product-image span {
    height: 100%;
    overflow: hidden;
    display: block
}
div.product-box.list div.product-image span a {
    display: block;
    text-align: center
}
div.product-box.list div.product-image span a img {
    display: inline-block;
    float: none;
    height: 130px !important;
    margin: 0 auto;
    overflow: hidden;
    transition: all .3s ease 0s;
    width: 130px !important;
}
div.product-box.list div.product-details {
    width: 85%;
    padding: 10px 175px 10px 10px;
    border: 0;
    height: 100% !important;
    position: relative;
}
div.product-box.list div.product-details div.cartQuantity div.box {
    margin: 0 0 0 12px;
    width: 120px;
}
div.product-box.list div.product-details div.cartQuantity{
     border-bottom: 0px;
}
div.product-box.list div.product-details div.product-name a {
    white-space: normal;
    width: 100%;
    margin: 0;
    text-align: left;
    font-size: 18px;
    transition: all 0s ease 0s
}
div.product-box.list div.product-details div.price-group {
    border: 0;
    padding: 0;
    font-size: 18px
}
div.product-box.list div.product-details div.price-group div.col-md-6 {
    width: 130px
}
div.product-box.list div.button-group {
    border-radius: 0px;
    display: block;
    float: left;
    margin-bottom: 0px;
    position: absolute;
    top: 30px;
    bottom: 0px;
    border: 0px;
 border-left: 1px solid #dadada;
    right: 0px;
    margin-top: 0px;
    padding: 8px 10px;
    transition: all 0s ease 0s;
    width: 175px;
}
div.product-box.list  div.button-group button.add-to-cart-button{
     float: left;
     width: 100%;
     display: block;
     border-radius: 3px;
}
div.product-box.list div.button-group a {
    float: left;
    width: 100%;
    display: block;
    transition: all 0s ease 0s;
    border-radius: 4px;
    border: 2px solid #000;
    padding: 8px 10px;
    margin-bottom: 10px;
    margin-top: 15px;
}
div.product-box.list div.button-group a:hover {
    border-color: #f15a21
}
ul.pagination {
    margin: 15px 0 0;
    border-radius: 0;
    border: 0;
    float: left;
    width: 100%;
    text-align: right;
}
ul.pagination li {
    display: inline-block;
    float: none;
}
ul.pagination li:last-child {
    margin-left: 15px!important
}
ul.pagination li:first-child {
    margin-right: 15px!important
}
ul.pagination li a {
    border-radius: 0!important;
    font-size: 16px;
    color: #000;
    font-weight: 700
}
ul.pagination li a span {
    font-weight: 300;
    display: inline-block;
    padding: 0 10px;
    font-size: 13px
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    background: #f15a21;
    color: #fff;
    border-color: #f15a21
}
#footer {
    background: #fbfbfb;
    padding: 20px 0
}
#footer h2 {
    font-size: 13px;
    font-weight: 700;
    font-family: robotoregular;
    text-transform: uppercase
}
#footer a,
#footer p {
    font-size: 12px;
    color: #666;
    font-family: robotoregular
}
#footer a:hover {
    color: #f15a21
}
#copyrights {
    background: #2a2a2a;
    text-align: center;
    padding: 8px 0
}
#copyrights p {
    margin: 0;
    font-size: 12px;
    color: #a0a0a0;
    font-family: robotoregular
}
#copyrights p a {
    color: #a0a0a0
}
#copyrights p a:hover {
    color: #f15a21
}
.socialIcons {
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 20px
}
.socialIcons li {
    display: inline-block;
    margin: 2px
}
.socialIcons li a {
    display: block
}
.socialIcons li a span {
    border-radius: 50%;
    background: #2a2a2a;
    color: #fff;
    padding: 0;
    font-size: 18px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center
}
#breadCrumbs {
    background: #f7f7f7;
    border-top: 1px #e9e9e9 solid;
    border-bottom: 1px #e9e9e9 solid
}
ol.breadcrumb {
    padding: 7px 0 6px;
    margin: 0;
    background: 0 0;
    border-radius: 0;
    border: 0
}
ol.breadcrumb li+li::before {
    content: "\f054";
    color: #000;
    font-family: FontAwesome;
    font-size: 9px;
    padding: 0 10px
}
ol.breadcrumb a {
    color: #000;
    font-size: 12px;
    font-family: robotoregular
}
ol.breadcrumb .active,
ol.breadcrumb a:hover {
    color: #f15a21
}
div.products-fiters {
    float: left;
    width: 100%;
    background: #f7f7f7;
    padding: 10px 5px;
    border-bottom: 1px #e9e9e9 solid;
    margin-bottom: 13px
}
div.products-fiters label {
    color: #3c3c3c;
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 12px;
    text-transform: uppercase
}
div.products-fiters button {
    padding: 0;
    border: 0;
    line-height: normal;
    background: 0 0;
    box-shadow: none;
    margin-left: 15px;
    position: relative;
    top: 2px
}
div.products-fiters button span {
    color: #cfcfcf;
    font-size: 18px
}
div.products-fiters button.active span,
div.products-fiters button:hover span {
    color: #000
}
div.products-fiters div.sortby {
    text-align: right
}
div.products-fiters div.sortby select {
    border: 1px solid #cbcbcb;
    padding: 8px 10px;
    color: #3c3c3c;
    margin-left: 12px
}









/*dt-product-details*/
div.dt-product-details{
     float: left;
     width: 100%;
}
div.dt-product-details div.dt-product-details-imager{
     float: left;
     width: 100%;
     border: 1px #dadada solid;
}
div.dt-product-details div.dt-product-details-imager .image-lg{
     text-align: center;
     width: 100%;
     text-align: center;
     height: 370px;
     display: table;
}
div.dt-product-details div.dt-product-details-imager .image-lg a{
     display: table-cell;
     vertical-align: middle;
}
div.dt-product-details div.dt-product-details-imager .image-lg a:hover{
     opacity: 0.8;
}
div#productSliderDt{
     text-align: center;
}
div#productSliderDt .carousel-inner > .item{
     text-align: center;
     height: 370px;

     width: 100%;
}
div#productSliderDt .carousel-inner > .item a{
     display: table;
     vertical-align: middle;
     height: 100%;
     width: 100%;
}
div#productSliderDt .carousel-inner > .item a span{
     display: table-cell;
     vertical-align: middle;
     height: 100%;
     width: 100%;
}
div#productSliderDt .carousel-inner > .item img{
     display: inline-block;

}

div#productSliderDt .carousel-inner > .item a:hover{

}

div#productSliderDt .carousel-indicators {
    bottom: 0;
    border-top: 1px #dadada solid;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    right: 0;
    top: auto;
    width: 100%;
    font-size: 0px;
    position: relative;
}
div#productSliderDt .carousel-indicators li{
     background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  border-radius: 0;
  border-right: 1px solid hsl(0, 0%, 85%);

  margin: 0;
  padding: 5px;
  width: 95px;
    height: 85px;
    overflow: hidden;
}
div#productSliderDt .carousel-indicators li:last-child{
     border-right: 0px;
}
div#productSliderDt .carousel-indicators li img{
     height: 100%;
     width: 100%;
     display: block;
}
div#productSliderDt .carousel-indicators li.active{
     width: 95px;
       height: 85px;
     margin: 0px;
}



/*magnifier*/
.workspace{
	width:300px;
	position:absolute;
	background:gray;
}
.magnifier{
	border:2px solid white;
	position:absolute;
	height:180px;
	width:180px;
	display:none;
	background-repeat:no-repeat;
	background-color:#fff;
	cursor:url('../images/invisible.cur'),default;
	-moz-box-shadow:0 0 5px #777, 0 0 10px #aaa inset;
	-webkit-box-shadow:0 0 5px #777;
	box-shadow:0 0 5px #777, 0 0 10px #aaa inset;
	-moz-border-radius:90px;
	-webkit-border-radius:90px;
	border-radius:90px;
}

.magnifier.cursor_compatible{
	cursor:url('../images/invisible_chrome.cur'),default;
}

















select.selectBox {
     /* styling */
      background-color: white;
      border: thin solid #d5d5d5;
      border-radius: 4px;
      display: inline-block;
      font: inherit;
      line-height: 1.5em;
      padding: 0.5em 3.5em 0.5em 1em;
     /* reset */

      margin: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;









  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.selectBox:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: #d5d5d5;
  outline: 0;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}


ul.qualitytags{
     float: left;
     width: 100%;
     margin-top: 25px;
}
ul.qualitytags li{
     float: left;
     padding-left: 35px;
     font-size: 16px;
     text-transform: capitalize;
     position: relative;
     margin-right: 15px;
}
ul.qualitytags li span.icon{
     position: absolute;
     top:-2px;
     left: 0px;
}
/*dtProductsInDt*/
div.dtProductsInDt{
     float: left;
     width: 100%;
}
div.dtProductsInDt {}
div.dt-product-details h2.productTitle{
     font-size: 25px;
     color: #000;
     font-weight: bold;
     margin-top: 0px;
     line-height: normal;
     margin-bottom: 16px;
}
div.dtProductsInDt div.isInStock{
     background: hsl(16, 88%, 54%) none repeat scroll 0 0;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 10px;
    padding: 4px 10px;
    text-transform: uppercase;
}
div.dtProductsInDt div.notInStock{
     background: red;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 10px;
    padding: 4px 10px;
    text-transform: uppercase;
}
div.dtProductsInDt div.price-group{
     float: left;width: 100%;
     padding: 28px 0;
}
div.dtProductsInDt div.price-group div.price{
     color: hsl(0, 0%, 20%);
    font-size: 16px;
    float: left;
    width: 150px;
}
div.dtProductsInDt div.price-group div.price span {
    color: hsl(16, 88%, 54%);
}
div.dtProductsInDt div.price-group div.price.inc-vat{}
div.dtProductsInDt div.price-group div.price.ex-vat{}
div.dtProductsInDt div.productId{
     float: left;
     width: 100%;
     border-top: 1px #e5e5e5 solid;
     border-bottom:1px #e5e5e5 solid;
     padding: 16px 0 7px;
}
div.dtProductsInDt div.productId span{
     float: right;
     font-weight: normal;
}
div.dtProductsInDt div.productId label{
     font-weight: bold;
     text-transform: uppercase;
     color: #000;
     font-size: 16px;
}

div.dtProductsInDt div.productColors{
     float: left;
     width: 100%;
     border-top: 0px #e5e5e5 solid;
     border-bottom:1px #e5e5e5 solid;
     padding: 16px 0 4px;
}
div.dtProductsInDt div.productColors label{
     font-weight: bold;
     text-transform: uppercase;
     color: #000;
     font-size: 16px;
}

div.dtProductsInDt div.productColors div.colors{
     float: right;
         position: relative;
         right: -15px;
         top: -10px;
}
div.dtProductsInDt div.productColors div.colors span{}
div.dtProductsInDt div.productColors div.colors select.selectBox{


       padding: 7px 30px 0px 0;
       position: relative;
       top: 2px;
       text-transform: uppercase;
       font-weight: bold;

       background-color: white;
    border: thin solid transparent;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, rgba(204, 204, 204, 0), rgba(204, 204, 204, 0));
    background-position: calc(100% - 20px) calc(1em + 2px),
 calc(100% - 15px) calc(1em + 2px),
 calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px,
 5px 5px,
 1px 1.5em;
    background-repeat: no-repeat;
}

div.dtProductsInDt div.quantity{
     float: left;
     width: 100%;

     padding: 16px 0 7px;
}

div.dtProductsInDt div.quantity label{
     font-weight: bold;
     text-transform: uppercase;
     color: #000;
     font-size: 16px;
}
div.dtProductsInDt div.quantityBox{
     float: left;
     width: 100%;
}
div.dtProductsInDt div.quantityBox input[type="number"]{
     border-color: hsl(0, 0%, 85%);
        border-style: solid;
        border-width: 1px;
        padding: 15px;
        width: 80px;
}
div.dtProductsInDt div.quantityBox input[type="number"]:focus{
     border-color: #dadada;
     box-shadow: none;
     outline: 0 none;
}
div.dtProductsInDt div.quantityBox button{
     background: hsl(0, 0%, 12%) url("../images/icons/ic-add-to-cart.png") no-repeat scroll 20px center;
        border: 0 none;
        border-radius: 2px;
        color: hsl(0, 0%, 100%);
        font-size: 16px;
        font-weight: 900;
     margin-left: 15px;
        line-height: normal;
        padding: 16px 15px 14px 50px;
        text-transform: uppercase;
}
div.dtProductsInDt div.quantityBox button:hover{
     background-color: #f15a21;
}










/*dt-product-description*/
.dt-product-description{
     float: left;
     width: 100%;
     padding: 4px 40px;
     border:1px #dadada solid;
     padding-bottom: 50px;
     margin-top: 30px;
}
.dt-product-description span, .dt-product-description div{
     font-size: 16px !important;
}
.dt-product-descriptionn h2 {
    color: #000;
    font-size: 25px;
    font-weight: 300;
    font-family: robotolight;
    margin: 20px 0
}
.dt-product-descriptionn ul{
     padding: 0px;
     margin: 0px;
}
.dt-product-descriptionn ul li{
     display: block;
     float: left;
     width: 100%;
     padding-left: 25px;
     position: relative;
     margin-bottom: 10px;
     color: #000;
     font-size: 14px;
     font-family: robotolight;
}
.dt-product-descriptionn ul li span {
     background: hsla(0, 0%, 0%, 0) url("../images/icons/ic-check.png") no-repeat scroll 0 0;
        color: hsla(0, 0%, 0%, 0);
        display: block !important;
        height: 13px;
        left: 0;
        position: absolute;
        text-indent: -9999px;
        top: 4px;
        width: 13px;
}


div.similar-products {
    float: left;
    width: 100%
}
div.similar-products h2 {
    color: #000;
    font-size: 25px;
    font-weight: 300;
    font-family: robotolight;
    margin: 20px 0
}
#similarProductsCarsole div.col-xs-3 {
    padding: 0!important
}
#similarProductsCarsole .carousel-inner>.item {

}
#similarProductsCarsole .carousel-inner .active.left {
    /*left: -33%*/
}
#similarProductsCarsole .carousel-inner .active.right,
#similarProductsCarsole .carousel-inner .next {
    /*left: 33%*/
}
#similarProductsCarsole .carousel-inner .prev {
    /*left: -33%*/
}

#similarProductsCarsole .carouse-control.left,
#similarProductsCarsole .carouse-control.right {
    background-image: none
}
#similarProductsCarsole .carousel-control {
    background: #f2f2f2!important;
    border-radius: 50%;
    bottom: auto;
    color: #000!important;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    opacity: 1;
    position: absolute;
    text-align: center;
    text-shadow: none!important;
    top: -50px;
    width: 35px
}
#similarProductsCarsole .carousel-control:hover {
    background: #f15a21!important;
    color: #fff!important
}
#similarProductsCarsole .carousel-control.left {
    left: auto !important;
    right: 40px
}

.checkout-customer-form {
    border: 1px solid #dadada;
    float: left;
    padding: 20px;
    width: 100%;
}
.checkout-customer-form  h2{
     font-size: 25px;
     font-weight: 300;
     font-family: robotolight;
     color: #505050;
     margin: 10px 0px 20px;
}
.checkout-customer-form div.row{
     margin: 0px -10px;
}
.checkout-customer-form .form-control{
     float: left;
     width: 100% !important;
     height: auto;
     border-color: #dadada;
     box-shadow: none !important;
}
.checkout-customer-form .input-group{
     display: block;
}
.checkout-customer-form label{
     margin-bottom: 0px;
     text-align: left;
     width: 100%;
     font-weight: normal;
     font-size: 14px;
     color: #111111;
}
.has-error .form-control-feedback{
     display: none !important;
}
.checkout-customer-form button.btn-primary{
     border-radius: 0px;
     padding: 10px 30px;
     background: #333333;
     border-color: #333333;

}
.checkout-customer-form button.btn-primary:hover{
     background: #f15a21;
     border-color: #f15a21;
}


div.cartSummary{
     border: 1px solid #dadada;
    float: left;
    padding: 20px;
    width: 100%;
}
div.cartSummary h2{
     font-size: 25px;
     font-weight: 300;
     font-family: robotolight;
     color: #505050;
     margin: 10px 0px 20px;
}
div.cartSummary .cartItems {
    float: left;
    width: 100%;
}
div.cartSummary .item {
    border-bottom: 1px solid #d5d5d5;
    padding: 10px 0;
    float: left;
    width: 100%;
    position: relative;
}
div.cartSummary .item .image {
    border: 1px solid #d5d5d5;
    float: left;
    height: 120px;
    overflow: hidden;
    padding: 5px;
    width: 120px;
    margin-right: 15px;
}
div.cartSummary .item .image a{
     display: block;
}
div.cartSummary .item .image img{
     width: 100%;
     height: 100%;
}
div.cartSummary .item .image img:hover{
     opacity: 0.8;
}
div.cartSummary .item div.desc{
     float: left;
     width: 300px;
}
div.cartSummary .item div.desc .name a{
     color: #111111;
   display: block;
   font-size: 14px;
   margin-bottom: 5px;
}
div.cartSummary .item div.desc .name a:hover{
     color: #f15a21;
}
div.cartSummary .item div.desc .info{
     float: left;
     width:100%;
     color: #000;
}
div.cartSummary .item div.desc .info span.color{
     font-weight: bold;
     text-transform: uppercase;
}
div.cartSummary .item div.desc  div.qtyBox{
     float: left;
     width: 100%;
     margin-top: 10px;
}
div.cartSummary .item div.desc  div.qtyBox input{
     float: left;
     width: 80px;
     padding: 8px;
     border: 1px #d5d5d5 solid;
     text-align: center;
     font-weight: bold;
     font-size: 16px;
     margin-right: 15px;
}
div.cartSummary .item div.desc  div.qtyBox .price{
     color: #000000;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 10px;
}

div.cartSummary .item div.removeItem{
     position: absolute;
     top: 45%;
     right: 10px;
}
div.cartSummary .item div.removeItem a{
     width: 25px;
     height: 25px;
     border-radius: 50%;
     line-height: 25px;
     border:2px #111111 solid;
     display: block;
     text-align: center;
     transition: all 0s ease 0s;
}
div.cartSummary .item div.removeItem a span{
     color: #111111;
   font-weight: bold;
   position: relative;
   top: -2px;
}
div.cartSummary .item div.removeItem a:hover{
     border-color: #f15a21;
}
div.cartSummary .item div.removeItem a:hover span{
     color: #f15a21;
}
div.cartSummary div.cartCoupen{
     float: left;
     width: 100%;

     border-bottom:1px #d5d5d5 solid;
     padding: 10px 0px;
     margin-bottom: 10px;
}
div.cartSummary div.cartCoupen input{
     float: left;
     width: 100%;
     border: 1px #d5d5d5 solid;
     height: auto;
     padding: 12px 15px;
     box-shadow: none !important;
     border-radius: 3px;
}
div.cartSummary  div.row{
     margin: 0px -10px;
}
div.cartSummary  a#applycouoen{
     background: #111111 none repeat scroll 0 0;
       border-radius: 3px;
       color: #ffffff;
       display: block;
       font-size: 16px;
       padding: 12px 15px;
       text-align: center;
       font-weight: bold;

}
div.cartSummary  a#applycouoen:hover{
     background: #f15a21;
}
div.cartSummary  div.cartTotals{
     float: left;
     width: 100%;
}
 div.cartSummary  div.cartTotals div.full-width{
     float: left;
     width: 100%;
     padding: 8px 0px;

     color: #000;
}

 div.cartSummary  div.cartTotals div.left{
     float: left;
}
div.cartSummary  div.cartTotals div.left label{
     font-size: 14px;
     color: #000000;
     font-weight: normal;
}
div.cartSummary  div.cartTotals div.right{
     float: right;
     font-size: 16px;
     font-weight: bold;
     text-align: right;
}
div.cartSummary  div.cartTotals div.full-width.last{
     border: 1px #d5d5d5 solid;
     border-left:0px;border-right:0px;
}
div.cartSummary  div.cartTotals div.full-width.last span{
     display: inline-block;
     padding: 10px 15px;
     border-radius: 3px;
     font-weight: bold;
     background: #7cc42c;
     color: #fff;
}
div.cartSummary  div.cartTotals div.full-width.last label{
     position: relative;
     top:13px;
}

div.cartSummary  div.cartButton{
     float: left;
     width: 100%;
     text-align: left;
     margin: 20px 0px;
}
div.cartSummary  div.cartButton a{
     padding: 15px 15px;
     border-radius: 3px;
     display: inline-block;
     border:2px #000 solid;
     width: 200px;
     text-align: center;
     font-weight: bold;
     color: #000;
     text-transform: uppercase;
     margin-right: 10px;
}
div.cartSummary  div.cartButton a:hover{
     background: #f15a21 !important;
     color: #fff;
     border-color: #f15a21;
}
div.cartSummary  div.cartButton a.btncheckout{
     background: #000;
     color: #fff;
}
/*haris custom Css*/

.overlayFix {
    background: rgba(256, 256, 256, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.ldrpup {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    height: auto;
    padding-top: 20px;
    position: absolute;
    width: 40%;
    left: 28%;
    top: 250px;
    background: #fff !important;
}

.product-tag-line{
      font-size: 14px;
    float: left;
    width: 100%;
    font-weight: normal;
    margin-bottom: 10px;
    font-style: italic;
}
.error{
    color: red;
}


section.contentpage p{
     font-size: 16px;
     line-height: normal;
}
section.contentpage p a{
     font-weight: bold;
     color: #f15a21;
}
section.contentpage p a:hover{
     text-decoration: underline;
}
section.contentpage ul, section.contentpage ol{
     float: left;
     width: 100%;
     padding-left: 30px;
}
section.contentpage ul{
     list-style: circle;
}
section.contentpage ul li{
     list-style: initial;
}
section.contentpage ol{
         list-style-type: decimal;
}
section.contentpage ol li{
         list-style-type: decimal;
}
section.contentpage ul li, section.contentpage ol li{
     font-size: 16px;
     margin-bottom: 5px;
}
section.contentpage ul li a, section.contentpage ol li a{
   font-weight: bold;
    color: #f15a21;
}
