@primaryColor:   #f15a21;
@navBg: #333333;
@colorBlack:  #000;
@fontNormal: robotoregular;
@fontLight: robotolight;
@fontBold: robotobold;
@fontMedium: robotomedium;
@fontHeavy: robotoblack;

// Grid changes
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9{
  padding-left: 10px;
  padding-right: 10px;
}
.row{margin: 0px -15px;}
.container{width: 1220px;}
@media only screen and (max-width:1360px){
  .container{width: 1180px;}
}
@media only screen and (max-width:1199px){
  .container{width: 980px;}
}
@media only screen and (max-width:990px){
  .container{width: 760px;}
}
@media only screen and (max-width:767px){
  .container{width: auto;}
}




////////////////////main style
body{
    margin:0px;
    font-family: @fontNormal;
}

li{
    list-style:none;
}
ul{padding: 0px;}
a{outline: 0 none;transition: all 0.5s ease 0s;}
a:hover,a:focus{outline: 0 none;text-decoration: none;color: @primaryColor;}
section{float: left;width: 100%;}
.removePadding{padding: 0px;}


// hiiden elemets
#btnproductCategories{display: none;}





// header
header{
    float:left;
    width:100%;
}
#headerTop{
    float:left;
    width:100%;
    background:#595959;
    color:#fff;

    div.right{
      text-align: right;
    }

    ul.toplinks{
        float:left;
        width:100%;
        margin-bottom: 0px;

        li{
            float:left;
            margin-right: 13px;
            span{
              padding-right: 10px;
            }
            a{
                padding:8px 0px;
                color:#fff;
                display: block;
                font-size:14px;
                 margin-right: 13px;
                &:after{
                  background: #fff none repeat scroll 0 0;
                  border-left: 1px solid #fff;
                  content: "";
                  height: 15px;
                  margin-left: 15px;
                  overflow: hidden;
                  position: absolute;
                  top: 10px;
                  width: 1px;
                }
                &:hover{
                  color: @primaryColor;
                }
            }
        }
    }
    li.reomveContentAfter{
      margin-right: 0px;
      margin-top: 7px;
      &::after{
        display: none;
      }
      &:hover{
        color:#fff;
      }
    }
}
.login-resgister{
  display: inline-block;
  a{
    display: block;
    color: #fff;
    font-size: 12px;
  padding: 10px 13px 9px;
    margin-right: 0px;
    span{padding-right: 15px;}
    &:hover{color: @primaryColor;}
  }
}
.topCartBox{
  display: inline-block;


  a{
    background: #2c2c2c none repeat scroll 0 0;
     color: rgba(255, 255, 255, 0.9);
     display: block;
     font-size: 12px;
     padding: 10px 13px 9px;
     &:hover{
       background: @primaryColor;
       color: #fff;
     }
      span{padding-right: 2px; color: rgba(255, 255, 255, 0.9);}
  }
}


#headerCenter{
  padding: 31px 0px;

  .leftPadding{padding-left: 40px;}

  div.contactNumber{
    border-left: 1px solid #e8e8e8;
    color: #505050;
    font-family: robotolight;
    font-size: 18px;
    padding-bottom: 0px;
    padding-top: 5px;
    margin-top: 3px;
  }
}
div.logo{
  margin-top: 5px;
}
div.searchBox{
  float: left;
  width: 100%;
  form{
    border: 1px solid #d5d5d5;
      border-radius: 3px;
      float: left;
      margin: 0 0 0 -7px;
      padding: 2px 0;
      width: 527px;

  }
  input.form-control{
    border:0px;
    box-shadow: 0 0 0 transparent;
    height: auto;
    padding: 10px;
    color: #505050;
    width: 400px;
    float: left;
      &:focus{
        box-shadow: none;
      }
  }
  button{
    border:0px;
    background: @primaryColor;
    color: #fff;
    float: right;
    margin-top: 4px;
    margin-right: 6px;
    padding: 6px 10px;
    border-radius: 3px;
    span{
      transform: rotate(-260deg);
    }
  }
}



#headerBottom{
  background: @navBg;
}
.navbar-collapse{
  padding: 0px 10px;
}
nav.navbar-default{
  border-radius: 0px;
  margin: 0px;
  background: none;
  border:0px;
  min-height: auto;
}
.navbar-default .navbar-nav > li > a{
  font-family: @fontMedium;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
  background: @primaryColor;
  color: #fff;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
  background: @primaryColor;
  color: #fff;
}
.navbar-default .navbar-nav > li.dropdown:hover ul.dropdown-menu{
  display: block;
}
ul.dropdown-menu{
  border-radius: 0px;
  padding: 0px;
  li a{
    text-align: left;
    padding: 8px 10px;
    text-transform: capitalize;
    color: #000;
    border-bottom: 1px #d5d5d5 solid;
  }
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: @primaryColor;
    color: #fff;
    text-decoration: none;
}


//  slider
#slideShow {
    float: left;
    width: 100%;
    background: #f8f8f8 !important;
    background-size: cover;
    padding:15px 0px 0px;
}
#slideShow div.container{
  position: relative;
}
#slideShow .carousel-indicators {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    margin: 40px 0 30px;
    display: none
}
#slideShow .carousel-inner > .item{
  padding: 0px 75px;
}
#slideShow .carousel-caption {
    position: relative;
    left: 0;
    right: 0;
    text-align: left;
    text-shadow: none;
    width: 530px;
    float: left;
    padding-left: 0px
}
#slideShow .carousel-indicators li {
    display: inline-block;
    background: #fff;
    border: 0;
    margin: 0;
    top: 0;
    height: 15px;
    width: 15px
}
#slideShow .carousel-indicators li.active,
#slideShow .carousel-indicators li:hover {
    background: #88bf3b;
    border: 0;
    height: 15px;
    width: 15px;
    margin: 0;
    top: 0
}
#slideShow .carousel-control {
    background: 0 0!important;
    box-shadow: none;
    text-shadow: none;
    display: block;
    width: auto;
    opacity: 1;
    top: 40%;
    bottom: auto;
    &:hover{
      span{
        border-color: @primaryColor;
        color: @primaryColor;
      }
    }
    span{
      border:2px #363636 solid;
      border-radius: 50%;
      color:#363636;
      font-size: 35px;
      padding-top: 4px;
      height: 50px;
      width: 50px;
    }
}
#slideShow .carousel-inner>.item img {
    width: 430px;
    float: left;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    margin-right: 75px;
}
#slideShow .carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity
}
.carousel-fade .carousel-inner .active {
    opacity: 1
}
#slideShow .carousel-fade .carousel-inner .active.left,
#slideShow .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1
}
#slideShow .carousel-fade .carousel-inner .next.left,
#slideShow .carousel-fade .carousel-inner .prev.right {
    opacity: 1
}
#slideShow .carousel-fade .carousel-control {
    z-index: 2
}
#slideShow .carousel-caption div.slideTitle {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    padding-top: 55px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    font-family: @fontBold;
    color: #282828;
}
#slideShow .carousel-caption div.slideTitle span {
    display: block;
    line-height: normal;
    color: @primaryColor;
}
#slideShow .carousel-caption div.slideDescription {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    margin: 10px 0 20px;
    font-size: 13px;
    color: #282828;
    font-family: @fontLight;
    font-weight: 300
}
#slideShow .carousel-caption div.btnLink {
    float: left;
    margin-right: 20px
}
#slideShow .carousel-caption div.btnLink a {
    background: #333333;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-family:  @fontNormal;
    font-size: 12px;
    padding: 12px 25px;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none!important

}
#slideShow .carousel-caption div.btnLink a:hover {
    background: @primaryColor;
    color: #fff;
}
#slideShow .carousel-caption div.firstLink a {
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}
//  slider end











#features{
    background-color: @primaryColor;
    margin-top: 20px;
}
// featureBox
div.featureBox{
  float: left;
  width: 100%;
  padding: 8px 0px;
  background-color: @primaryColor;
  color: #fff;

  border-top:1px #f26b39 solid;
  border-bottom: :1px #f26b39 solid;
  &:after{
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
  }


  img{
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }
  p{
    margin-bottom: 0px;
    font-size: 16px;
    color: #fff;
    font-family: @fontLight;
  }
}
div.featureBox.last{
  border-right: 0px;
    &:after{
      display: none;
    }
}





// featuredCatalog
#featuredCatalog{
  margin: 0px 0px 20px;

  div.box{
    position: relative;
    overflow: hidden;

    img{
      overflow: hidden;

      -moz-transition: all 0.3s;
 -webkit-transition: all 0.3s;
 transition: all 0.3s;


    }
    div.overlay{
      position: absolute;
      right: 0px;
      bottom: 0px;
      width: 230px;
      p{
        margin: 0px;
        a{
          background: #000;
          color: #fff;
          font-size: 16px;
          font-family: @fontBold;
          display: block;
          padding: 20px;
        }
      }
    }


    &:hover{
      img{
        -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
      }
    }
  }
}


#main-content{
  margin: 20px 0px;
}
div.product-categories{
  float: left;
  width: 100%;
  background: #f9f9f9;
  // background: #d5d5d5;
  padding:9px 25px 20px;

  h2{
    font-size: 25px;
    font-family:  @fontLight;
    color: #000000;
    position: relative;
    text-transform: capitalize;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &:after{
      content: "";
      border-bottom: 1px #ff0000 solid;
      position: absolute;;
      left:0px;
      bottom: 0px;
      width: 30%;
    }
  }
  ul{
    li{
      a{
        color: #000;
        text-transform: capitalize;
        font-size: 16px;
        font-family: @fontNormal;
        display: block;
        padding: 5px 0px;

        span{
          float: right;
        }
        &:hover{
          color: @primaryColor;
        }
      }
    }
  }
}


div.products-container{
  margin: -7px -7px 0px;
}
div.product-box{
  border:1px #dadada solid;
  width: 288px;
  float: left;
  margin:7px;

  div.product-image{
    text-align: center;
    height: 270px;
      overflow: hidden;
    border-bottom: 1px #dadada solid;

    span{
      display: table;
      width: 100%;
      height: 100%;
      a{
        display: table-cell;
        vertical-align: middle;

        img{
              overflow: hidden;
                -moz-transition: all 0.3s;
           -webkit-transition: all 0.3s;
           transition: all 0.3s;
        }
      }
    }
    img{
      display: inline-block;
    }
  }



  div.product-details{
    float: left;
    font-family: @fontLight;
    width: 100%;
    div.product-name{
      float: left;
      width: 100%;
      text-align: center;
      margin: 15px 0px;
      a{
        color: #000;
       display: block;
       font-family: robotolight;
       font-size: 16px;
       line-height: normal;
       margin: 0 auto;
       overflow: hidden;
       padding: 0 10px;
       text-align: center;
       text-overflow: ellipsis;
       white-space: nowrap;
       width: 60%;
         transition: all 0s ease 0s;
      }
    }

  div.price-group{
    width: 100%;
    float: left;
    padding: 0px 15px;
    padding-bottom: 15px;
        border-bottom: 1px #dadada solid;
  }
    div.price{
      font-size: 16px;
      color: #333333;
      span{
        color: @primaryColor;
      }
      i{
        font-style: normal;
      }
    }
  }

  // button-group
  div.button-group{
    float: left;
    width: 100%;

    a{
      display: block;
      font-size: 12px;
      font-family: @fontNormal;
      font-weight: 900;
      padding: 12px;
      line-height: normal;
      float: left;
      width: 50%;
      text-align: center;
      text-transform: uppercase;
      color: #404040;
        transition: all 0s ease 0s;

      &:hover{
        background: @primaryColor !important;
        color: #fff !important;
      }
    }
    a.add-to-cart-button{
      background: #000;
      color: #fff;
      span{
        margin-right: 5px;
      }
    }
  }
    &:hover{
    div.product-image img{
      -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

      div.product-name a{
        color: @primaryColor !important;
      }
  }

}
div.products-container.removemargin{margin: 0px;}
div.product-box.list{
    border: 1px solid #dadada;
    float: left;
    margin: 0 0px 20px;
    width: 100%;
    height: 160px;
    overflow: hidden;

    div.product-image{
      border-bottom: 0px solid #dadada;
       border-right: 1px solid #dadada;
       float: left;
       height: 100%;
       padding: 10px;
       overflow: hidden;
       text-align: center;
       width: 178px;

       span{
         height: 100%;
         overflow: hidden;
         display: block;

         a {
           display: block;
           text-align: center;
           img{
             display: inline-block;
              float: none;
              height: 130px;
              margin: 0 auto;
              overflow: hidden;
              transition: all 0.3s ease 0s;
              width: 130px;
           }
         }
       }
    }
    div.product-details{
      width:545px;
      padding: 10px;
      border: 0px;
      div.product-name a{
        white-space: normal;
        width: 100%;
        margin: 0px;
        text-align: left;
        font-size: 18px;
        transition: all 0s ease 0s;
      }
       div.price-group{
         border:0px;
         padding: 0px;
          font-size: 18px;
         div.col-md-6{width: 130px;}
      }
    }
    div.button-group{
      float: left;
      width: 175px;
      height: 100%;
      padding: 38px 25px 20px;
      border-left: 1px solid #dadada;

      a{
        float: none;
        width: 100%;
        display: block;
        transition: all 0s ease 0s;
        border-radius: 4px;
        border:2px #000 solid;
        padding: 8px 10px;
        margin-bottom: 10px;
        &:hover{
          border-color: @primaryColor;
        }
      }
    }
}


// .pagination
ul.pagination{
  margin: 15px 0px 0px;
  border-radius: 0px;
  border:0px;

  li{
      display: block;
      float: left;
   &:last-child{
      margin-left: 15px !important;
    }
    &:first-child{
      margin-right: 15px !important;
    }
    a{
      border-radius: 0px !important;
      font-size: 16px;
      color: #000;
      font-weight: bold;

      span{
        font-weight: 300;
        display: inline-block;
        padding: 0px 10px;
        font-size: 13px;
      }
    }
  }
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover{
  background: @primaryColor;
  color: #fff;
  border-color: @primaryColor;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  background: @primaryColor;
  color: #fff;
  border-color: @primaryColor;
}









#footer{
  background: #fbfbfb;
  padding: 20px 0px 20px;
}

#footer{
  h2{
    font-size: 13px;
    font-weight: bold;
    font-family: @fontNormal;
    text-transform: uppercase;
  }
  p,a{
    font-size: 12px;
    color: #666666;
    font-family: @fontNormal;
  }
  a:hover{
      color: @primaryColor;
  }
}
#copyrights{
  background: #2a2a2a;
  text-align: center;
  padding:8px 0px;
  p{
    margin: 0px;
    font-size: 12px;
    color: #a0a0a0;
    font-family: @fontNormal;

  	a{
  	color: #a0a0a0;
      &:hover{
        color: @primaryColor;
      }
  	}
  }
}
.socialIcons{
  float: left;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  li{
    display: inline-block;
    margin: 2px;
    a{
      display: block;
      span{
        border-radius: 50%;
        background: #2a2a2a;
        color: #fff;
        padding: 0px;
        font-size: 18px;
        width: 38px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        }
    }
  }
}


///////////breadCrumbs
#breadCrumbs{
  background: #f7f7f7;
  border-top:1px #e9e9e9 solid;
  border-bottom: 1px #e9e9e9 solid;
}
ol.breadcrumb{
  padding: 0px;
  padding: 7px 0 6px;
  margin: 0px;
  background: none;
  border-radius: 0px;
  border:0px;
  li + li::before{
    content: "\f054";
    color: #000;
    font-family: FontAwesome;
     font-size: 9px;
     padding: 0 10px;
  }
  a{
    color: #000;
    font-size: 12px;
    font-family: @fontNormal;
    &:hover{
      color: @primaryColor;
    }
  }
  .active{color: @primaryColor;}
}

////////// products-fiters
div.products-fiters{
  float: left;
  width: 100%;
  background: #f7f7f7;
  padding: 10px 5px;
  border-bottom: 1px #e9e9e9 solid;
  margin-bottom: 13px;

  label{
    color: #3c3c3c;
      font-size: 11px;
      font-weight: 400;
      margin-bottom: 10px;
      margin-top: 12px;
      text-transform: uppercase;
  }
  button{
    padding: 0px;
    border:0px;
    line-height: normal;
    background: none;
    box-shadow: none;
    margin-left: 15px;
    position: relative;
    top:2px;
    span{
      color:#cfcfcf;
      font-size:18px;
    }
    &.active,&:hover{
      span{
        color: #000;
      }
    }
  }


  div.sortby{
    text-align: right;
    select {
        border: 1px solid #cbcbcb;
        padding: 8px 10px;
        color: #3c3c3c;
        margin-left: 12px;
    }
  }
}
// similar-products
div.similar-products{
  float: left;width: 100%;
  h2{
    color: #000;
    font-size: 25px;
    font-weight: 300;
    font-family: @fontLight;
    margin: 20px 0px;
  }
}
.multi-item-carousel{
  div.col-xs-4{padding: 0px !important;}
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }

    .carousel-control {
      background: #f2f2f2 none repeat scroll 0 0 !important;
      border-radius: 50%;
      bottom: auto;
      color: #000 !important;
      font-size: 20px;
      height: 35px;
      line-height: 35px;
      opacity: 1;
      position: absolute;
      text-align: center;
      text-shadow: none !important;
      top: -50px;
      width: 35px;
      &:hover{
        background: @primaryColor !important;
        color: #fff !important;
      }
  }
  .carousel-control.left{left:auto;right:40px;}
}







// media queries
@media only screen and (max-width:1359px){
  div.product-box{width: 275px;}
}
@media only screen and (max-width:1199px){
  div.searchBox form{width: 400px;}
  div.searchBox input.form-control{width:355px;}
  #headerCenter div.contactNumber{font-size: 14px;}

    div.product-box{width: 48%;}

    div.product-categories ul li a{font-size: 14px;}


    div.featureBox p{font-size: 12px;}

    div.product-box.list div.product-details{width: 360px;}
    div.product-box.list div.product-details div.product-name a{font-size: 16px;}
}

@media only screen and (max-width:990px){
  #headerCenter div.contactNumber{font-size: 18px;border:0px;text-align: right;}
  #headerCenter{padding: 15px 0;}
  div.searchBox{float: right;width:400px;}
  div.searchBox form{float: right;width:100%;}
  div.logo {overflow: hidden;position: relative;top: 29px;width: 250px;}
  .hidden-mobile{display: none;}

  div.product-box{width: 45%;}
  div.product-box div.product-details div.product-name a{font-size: 14px;}
  div.product-box div.product-details div.price{text-align: center;font-size: 14px;}
  div.product-box div.button-group a{padding: 10px 5px;}

  div.product-box.list{height: auto;}
  div.product-box.list div.product-details{width: 300px;padding: 0px 10px;}
  div.product-box.list div.button-group {    border-left: 0px solid #dadada;    border-top: 1px solid #d5d5d5;    float: left;    height: 100%;    padding: 10px 25px 0;    width: 100%;}
}

@media only screen and (max-width:767px){
  #headerCenter{padding: 31px 0;}
  div.logo{text-align: center;margin: 0px;top: auto;width: auto;}
  div.logo a{display: inline-block;}
  #headerCenter div.contactNumber{text-align: center;}
  div.searchBox {float: none;margin: 20px auto 0;width: 400px;}
  #headerTop ul.toplinks li, #headerTop ul.toplinks li.reomveContentAfter.hidden-mobile{display: none;}
  #headerTop ul.toplinks li.reomveContentAfter{display: block;}
  #headerCenter .leftPadding{padding:0px 15px;}

  .navbar-toggle {
      background: @primaryColor;
      border: 1px solid transparent;
      border-radius: 3px;
      float: none;
      left: 15px;
      margin-bottom: 8px;
      margin-right: 15px;
      margin-top: 8px;
      padding: 9px 10px;
      position: absolute;
      top: 40px;
      z-index: 9999;
    .icon-bar{
        background: #fff;
      }
  }



  // product categories repsono9sive
  #btnproductCategories{display: block;background: @primaryColor;color: #fff;border-radius: 3px;border: 0px;}
  ul.listcatLinks, div.product-categories h2{display: none;}
  .listcatLinks.open {background: #d5d5d5 none repeat scroll 0 0;display: block !important;}
  div.product-categories ul li a{padding: 5px 12px;}


  div.products-container{text-align: center;float: left;width: 100%;}
  div.product-box{width: 45%;float: none;display: inline-block;}



  #featuredCatalog div.box div.overlay{width: auto;left:0px;}
  #featuredCatalog div.box div.overlay p a{padding: 15px;font-size: 14px;}

  div.product-box.list div.product-image{width:120px;}
  div.product-box.list div.product-image span a img{height: 100px;width: 100px;}
  div.product-box.list div.button-group {    border-left: 1px solid #dadada;    border-top: 0 none;    float: right;    height: 100%;    padding: 10px 10px 0;    width: 125px;}
  div.product-box.list div.product-details{width: 45%;}
  div.product-box.list div.button-group a{padding: 8px 0px;font-size: 10px;}
  div.product-box.list div.product-details div.product-name a {    margin: 0;    text-align: left;    text-overflow: ellipsis;    transition: all 0s ease 0s;    white-space: nowrap;    width: 100%;}
div.product-box.list div.button-group  {padding: 20px 10px 12px;}




}


@media only screen and (max-width:599px){
  div.product-box div.button-group a{font-size: 10px;}
}

@media only screen and (max-width:479px){
  #headerTop div.left{display: none;}
  #headerTop div.right{width: 100%;padding: 0px;}
  .login-resgister{float: left;display: block;}
  div.searchBox{width: 310px;}
  div.searchBox input.form-control{width: 265px;}
  #headerCenter div.contactNumber span{display: inline-block !important;}
  #headerCenter div.contactNumber {
      border: 0 none;
      font-size: 16px;
  }

  #featuredCatalog  .cstmPadding{width: 100%;margin-bottom: 15px;}
  #featuredCatalog div.box img{width: 100%;}

  #features div.col-md-3 {width: 100% !important;}


  div.product-box.list div.product-image{width: 100%;}
  div.product-box.list div.product-image span a img{width: auto;height: auto;}
  div.product-box.list div.product-details{ border-top: 1px solid #d5d5d5;text-align: center;width: 100%;}
  div.product-box.list div.product-details div.product-name a{text-align: center;white-space: normal;}
  div.product-box.list div.product-details div.price-group div.col-md-6{width: 100%;}
  div.product-box.list div.button-group {width: 100%;margin-top: 10px;  border-left: 0 solid #dadada;  border-top: 1px solid #d5d5d5;}

  div.products-fiters div.col-md-6 {text-align: center; width: 100%;}
  div.products-fiters div.sortby{text-align: center;}

}


@media only screen and (max-width:399px){
  div.product-box{width:90%;}
}


@media only screen and (max-width:359px){
  div.searchBox{width: 100%;}
  div.searchBox input.form-control{width: auto}
}
