﻿@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change <strong>Password</strong> </h2>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    function Submit() {
        var Pword = $('#Hidden_Pass').val();
        var old = $('#oldpassword').val();
        var newpass = $('#newpassword').val();
        var confm = $('#confrmpassword').val();
        if (Pword == old) {
            if(newpass == confm)
            {
                return true;
            }
            else
            {
                $("#old").css("display", "none");
                $("#pass").css("display", "block");
                return false;
            }
        }
        else {
            $("#pass").css("display", "none");
            $("#old").css("display", "block");
            return false;
        }
    }
</script>

<form method="post" enctype="multipart/form-data" id="FormUser">

    <div class="row">
        <div class="col-lg-12 portlets">
            <div class="panel">

                <div class="panel-content">
                    <p>Here you can change your password</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Old Password</label>
                                <input type="password" class="form-control" id="oldpassword" placeholder="Old Passsword" name="old" required />
                            <span style="color:red; display:none" id="old"> Old Password is not Correct</span>
                            </div>
                            <div class="form-group">
                                <label class="form-label">New Password</label>
                                <input type="password" class="form-control" id="newpassword" placeholder="New Password" name="newpass" required />
                            </div>
                            <div class="form-group">
                                <label class="form-label">Confirm New Password</label>
                                <input type="password" class="form-control" id="confrmpassword" placeholder="Confirm New Password" name="confrim" required />
                                <span style="color:red; display:none" id="pass"> Passwords didn't match</span>
                             </div>
                            @if (ViewBag.ErrorMsg == "oldpass")
                            {
                                <p style="color:red">Old Password is not Correct</p>
                            }
                            else
                                if (ViewBag.ErrorMsg == "PasswordsNotMatch")
                                {
                                    <p style="color:red">Passwords didn't Match</p>
                                }
                        </div>

                    </div>
                    <div>
                        <input type="submit" id="btnSave" onclick="return Submit();" class=" btn btn-dark" value="Update Password" name="Save" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <input id="hdn_Pass" type="hidden" name="hdn_Pass" />
</form>

