﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    <title>Admin Penal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <link rel="shortcut icon" href="../assets/global/images/favicon.png">
    <!-- END META SECTION -->
    <!-- BEGIN MANDATORY STYLE -->
    <link href="~/Resources/global/css/style.css" rel="stylesheet">
    <link href="~/Resources/global/css/ui.css" rel="stylesheet">
    <link href="~/Resources/global/plugins/bootstrap-loading/lada.min.css" rel="stylesheet">
    <!-- END  MANDATORY STYLE -->
</head>
<body class="account" data-page="lockscreen">
    @{
        HttpCookie cookie = HttpContext.Current.Request.Cookies["AdminCookies"];
        cookie.Values["Password"] = "-";
        HttpContext.Current.Response.SetCookie(cookie);
        int ID = 0;
       string PictureName = "";
       string FullName ="";
       
        if (cookie != null)
        {
            ID = Convert.ToInt32(cookie.Values["ID"]);
            var user = new Compuparts.Models.UserModel().GetUserByID(ID);
            PictureName = user.Image;
            FullName = user.FullName;

        }
        else
        { }
    }
    <!-- BEGIN LOGIN BOX -->
    <div class="container" id="lockscreen-block">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <div class="account-wall">
                    <div class="user-image">
                        <img src="~/Resources/AdminPictures/@PictureName" class="img-responsive img-circle" alt="friend 8">
                        <div id="loader"></div>
                    </div>
                    <form method="post" class="form-signin" enctype="multipart/form-data" id="FormUser">
                        <input id="Hidden1" type="hidden" value="@ID" name="hdn_ID" />
                        <h2>Welcome back, <strong>@FullName</strong>!</h2>
                        <p>Enter your password to go to dashboard.</p>
                        <div class="input-group">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                            <span class="input-group-btn">
                                @*<button type="submit" class="btn btn-primary">Log In</button>*@
                                <input type="submit" id="btnLogin" class="btn btn-primary" value="Log In" name="LogIn" />
                            </span>
                        </div>
                        <p>@ViewBag.Pass</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="loader-overlay loaded">
        <div class="loader-inner">
            <div class="loader2"></div>
        </div>
    </div>
    <script src="../assets/global/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="../assets/global/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="../assets/global/plugins/gsap/main-gsap.min.js"></script>
    <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/global/plugins/backstretch/backstretch.min.js"></script>
    <script src="../assets/global/plugins/bootstrap-loading/lada.min.js"></script>
    <script src="../assets/global/plugins/progressbar/progressbar.min.js"></script>
    <script src="../assets/global/js/pages/lockscreen.js"></script>
    <script src="../assets/admin/layout1/js/layout.js"></script>
</body>
</html>
