﻿@model IEnumerable<Compuparts.Models.User>
@{
    //ViewBag.Title = "Manage User";
    Layout = "~/Views/Shared/_Layout.cshtml";

    HttpCookie cookie = HttpContext.Current.Request.Cookies["AdminCookies"];
    if (cookie != null)
    {
        int ID = Convert.ToInt32(cookie.Values["ID"]);
        Compuparts.Models.User user = new Compuparts.Models.UserModel().GetUserByID(ID);
        bool admin = user.IsAdmin;
        if(admin != true)
        {
            Response.Redirect("/User/DashboardIndex");
        }
    }
}
<div class="col-xs-9">
    <h2>Manage<strong> User</strong></h2>
</div>
<div class="col-xs-3">
    <input type="button" value="Register New Users" style="float:right;" class="btn btn-dark" data-toggle="modal" data-target="#modal-select" onclick="location.href = '/User/AddUser'">
</div>
<script type="text/javascript">
    function GetImageNameInHiddenBox(ID) {
        $("#DeleteLink").attr("href", "/User/Delete?ID=" + ID);
    }
</script>
<body>
    <div class="row">
        <div class="col-lg-12 portlets">
            <div class="panel">
                <div class="panel-content pagination2 table-responsive">
                    <table class="table table-hover table-dynamic">
                        <thead>
                            <tr>
                                <th style ="display:none;">ID</th>
                                <th>Full Name</th>
                                <th>Username</th>
                                <th>Contact No</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="display:none;">
                                                @Html.DisplayFor(modelItem => item.ID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UserName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ContactNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            @{
                                        if (item.IsAdmin == true)
                                        {
                                            <td>
                                                <a href='~/User/AddUser?ID=@item.ID'>Edit</a>-
                                                <a style="color: #C0C9D1;">Delete</a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <a href='~/User/AddUser?ID=@item.ID'>Edit</a>-
                                                <a class="modal-container" data-toggle="modal" onclick="GetImageNameInHiddenBox(@item.ID);" data-target=" #modal-bottomfull">
                                                    Delete
                                                </a>
                                            </td>
                                        }
                                            }

                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    <div class="modal fade modal-bottomfull" id="modal-bottomfull" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                                    <h4 class="modal-title"><strong>Are you</strong> Sure</h4>
                                </div>
                                <div class="modal-body">
                                    You want to delete this info ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
                                    <a href="" id="DeleteLink" class="btn btn-primary btn-embossed">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
