﻿
@{
    ViewBag.Title = "Aknowledgement";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<main>
    <input type="hidden" name="hdnSubTotal" id="hdnSubTotal" />
    <section id="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="checkout-customer-form">
                        <h2>@ViewBag.Heading</h2>
                        <div>
                            @ViewBag.Message
                            <div>
                                Go To <a href="/">Home Page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- main content end -->

</main>

