﻿@model Compuparts.ViewModel.IndexPageViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<script src="~/Scripts/jquery-2.2.3.min.js"></script>

@*<script src="~/Resources/UserEnd/js/MyCustomJava.js"></script>*@


<div class="overlayFix" id="MainLoader" style=" display: none; ">
    <div class="ldrpup text-center">
        <img src="/Resources/UserEnd/images/loader.gif">
        <h4>Please wait</h4>
        <h2>Loading...</h2>
    </div>
</div>

<main>
    <section id="slideShow">
        <div class="container">
            <div class="row">
                <div id="myCarousel" class="carousel slide mainslider" data-ride="carousel" data-interval="5000">
                    <div class="carousel-inner" role="listbox">
                        @{
                            if (Model.Slider != null)
                            {
                                int a = 0;
                                foreach (var item in Model.Slider)
                                {
                                    if (a == 0)
                                    {
                                        <div class="item active">
                                            <img src="~/Resources/MainSlider/@item.Image" class="img-responsive animated fadeInUp">
                                            <div class="carousel-caption">
                                                <div class="slideTitle animated fadeInUp">@item.Title</div>
                                                <div class="slideDescription animated fadeInUp">@item.Description</div>
                                                <div class="slideButtons">
                                                    <div class="btnLink firstLink"> <a href="@item.URL" class="animated fadeInUp">See more</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="item">
                                            <img src="~/Resources/MainSlider/@item.Image" class="img-responsive animated fadeInUp">
                                            <div class="carousel-caption">
                                                <div class="slideTitle animated fadeInUp">@item.Title</div>
                                                <div class="slideDescription animated fadeInUp">@item.Description</div>
                                                <div class="slideButtons">
                                                    <div class="btnLink firstLink"> <a href="@item.URL" class="animated fadeInUp">See more</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    a++;
                                }

                            }
                        }

                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                </ol>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <span class="fa fa-angle-left" aria-hidden="true"></span> </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> <span class="fa fa-angle-right" aria-hidden="true"></span> </a>
            </div>
        </div>
    </section>
    <!-- slider end -->

    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6 removePadding">
                    <div class="featureBox">
                        <img src="~/Resources/UserEnd/images/icons/ic-fast-delivery.png" alt="ic-fast-delivery" />
                        <p>FAST & EFFICIENT DELIVERY</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 removePadding">
                    <div class="featureBox">
                        <img src="~/Resources/UserEnd/images/icons/ic-safe-payment.png" alt="ic-fast-delivery" />
                        <p>SAFE & SECURE PAYMENT</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 removePadding">

                    <div class="featureBox">
                        <img src="~/Resources/UserEnd/images/icons/ic-dedicated-customer-service.png" alt="ic-fast-delivery" />
                        <p>DEDICATED CUSTOMER SERVICE</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 removePadding">

                    <div class="featureBox last">
                        <img src="~/Resources/UserEnd/images/icons/ic-safe-payment.png" alt="ic-fast-delivery" />
                        <p>SAFE & SECURE PAYMENT</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- features end -->

    <section id="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading">Phone Parts</h2>
                    <div class="products-container">

                        @foreach (var item in Model.PhoneParts)
                        {
                            <div class="product-box">
                                <div class="product-image">
                                    <span>
                                        <a href="/@item.Url-@item.ID">
                                            @{
                            if (item.ProductImages.Count > 0)
                            {
                                <img src="~/Resources/ProductImages/@item.ProductImages.FirstOrDefault().Images" class="img-responsive" alt="@item.Name" />
                            }
                            else
                            {
                                <img src="~/Resources/ProductImages/NoImage.jpg" class="img-responsive" alt="@item.Name" />
                            }
}
                                            
                                        </a>
                                    </span>
                                </div><!-- product image end -->

                                <div class="product-details">
                                    <div class="product-name"><a href="/@item.Url-@item.ID" title="@item.Name">@item.Name</a></div>
                                    <div class="price-group">
                                       
                                        <div class="col-md-6 col-sm-12">
                                            <div class="price ex-vat"><span><i>€</i>@item.PriceWithoutVAT</span> - Ex VAT</div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="price inc-vat"><span><i>€</i>@item.PriceWithVAT</span> - Inc VAT</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cartQuantity" id="Quant_@item.ID">
                                    <div class="box">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btnRmvQty">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </span>
                                            <input id="123" type="text" name="prodQty" class="form-control  proQtyNumber" value="0" min="1" max="@item.Quantity" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btnAddQty">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="button-group">
                                    <button title="add to cart" class="add-to-cart-button" onclick="Exist(@item.ID,@item.PriceWithoutVAT)"><span class="fa fa-shopping-cart"></span>Add to cart</button>
                                    <a href="/@item.Url-@item.ID" title="view details" class="product-details-button">View Details</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading">Tablet Parts</h2>
                    <div class="products-container">
                        @foreach (var item in Model.TabletParts)
                        {
                            <div class="product-box">
                                <div class="product-image">
                                    <span>
                                        <a href="/@item.Url-@item.ID">
                                            <img src="~/Resources/ProductImages/@item.ProductImages.FirstOrDefault().Images" class="img-responsive" alt="@item.Name" />
                                        </a>
                                    </span>
                                </div><!-- product image end -->

                                <div class="product-details">
                                    <div class="product-name"><a href="/@item.Url-@item.ID" title="@item.Name">@item.Name</a></div>
                                    <div class="price-group">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="price ex-vat"><span><i>€</i>@item.PriceWithoutVAT</span> - Ex VAT</div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="price inc-vat"><span><i>€</i>@item.PriceWithVAT</span> - Inc VAT</div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="cartQuantity" id="Quant_@item.ID">
                                    <div class="box">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btnRmvQty">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </span>
                                            <input id="123" type="text" name="prodQty" class="form-control  proQtyNumber" value="0" min="1" max="@item.Quantity" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btnAddQty">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-group">
                                    <button title="add to cart" class="add-to-cart-button" onclick="Exist(@item.ID,@item.PriceWithoutVAT)"><span class="fa fa-shopping-cart"></span>Add to cart</button>
                                    <a href="/@item.Url-@item.ID" title="view details" class="product-details-button">View Details</a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="clearfix"></div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading">Laptop Parts</h2>
                    <div class="products-container">
                        @foreach (var item in Model.LaptopParts)
                        {
                            <div class="product-box">
                                <div class="product-image">
                                    <span>
                                        <a href="/@item.Url-@item.ID">
                                            <img src="~/Resources/ProductImages/@item.ProductImages.FirstOrDefault().Images" class="img-responsive" alt="@item.Name" />
                                        </a>
                                    </span>
                                </div><!-- product image end -->

                                <div class="product-details">
                                    <div class="product-name"><a href="/@item.Url-@item.ID" title="@item.Name">@item.Name</a></div>
                                    <div class="price-group">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="price ex-vat"><span><i>€</i>@item.PriceWithoutVAT</span> - Ex VAT</div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="price inc-vat"><span><i>€</i>@item.PriceWithVAT</span> - Inc VAT</div>
                                        </div>
                                       
                                    </div>
                                </div>
                                <div class="cartQuantity" id="Quant_@item.ID">
                                    <div class="box">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btnRmvQty">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </span>
                                            <input id="123" type="text" name="prodQty" class="form-control  proQtyNumber" value="0" min="1" max="@item.Quantity" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btnAddQty">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-group">
                                    <button title="add to cart" class="add-to-cart-button" onclick="Exist(@item.ID,@item.PriceWithoutVAT)"><span class="fa fa-shopping-cart"></span>Add to cart</button>
                                    <a href="/@item.Url-@item.ID" title="view details" class="product-details-button">View Details</a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="clearfix"></div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading">Other Electronics Parts</h2>
                    <div class="products-container">
                        @foreach (var item in Model.OtherElectronicParts)
                        {
                            <div class="product-box">
                                <div class="product-image">
                                    <span>
                                        <a href="/@item.Url-@item.ID">
                                            <img src="~/Resources/ProductImages/@item.ProductImages.FirstOrDefault().Images" class="img-responsive" alt="@item.Name" />
                                        </a>
                                    </span>
                                </div><!-- product image end -->

                                <div class="product-details">
                                    <div class="product-name"><a href="/@item.Url-@item.ID" title="@item.Name">@item.Name</a></div>
                                    <div class="price-group">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="price ex-vat"><span><i>€</i>@item.PriceWithoutVAT</span> - Ex VAT</div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="price inc-vat"><span><i>€</i>@item.PriceWithVAT</span> - Inc VAT</div>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="cartQuantity" id="Quant_@item.ID">
                                    <div class="box">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btnRmvQty">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </span>
                                            <input id="123" type="text" name="prodQty" class="form-control  proQtyNumber" value="0" min="1" max="@item.Quantity" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btnAddQty">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="button-group">
                                    <button title="add to cart" class="add-to-cart-button" onclick="Exist(@item.ID,@item.PriceWithoutVAT)"><span class="fa fa-shopping-cart"></span>Add to cart</button>
                                    <a href="/@item.Url-@item.ID" title="view details" class="product-details-button">View Details</a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="clearfix"></div>

                </div>

            </div>

        </div>
    </section>
    <!-- main content end -->

    <section id="featuredCatalog">
        <div class="container">
            <div class="row">
                @{
                    if (Model.ExtraImages != null)
                    {
                        foreach (var item in Model.ExtraImages)
                        {
                            <div class="col-md-4 col-sm-4 col-xs-4 cstmPadding">
                                <div class="box">
                                    <a href="#"><img src="~/Resources/ExtraImages/@item.Image" style="width:390px; height:250px;" class="img-responsive" alt="apple-mobile" /></a>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </section>
</main>

<script>
    var cvalue = $(".proQtyNumber").val();
    if (cvalue == 1) {
        $(".btnRmvQty").attr('disabled', 'disabled');
    } else {
        $(".btnRmvQty").removeAttr('disabled');
    }

    $('.btnRmvQty').on('click', function () {
        if ($(this).parent().siblings('input').val() <= 1) {
            $(this).attr('disabled', 'disabled');
            $(this).parent().siblings('input').val("1");
        }
        $(this).parent().siblings('input').val(parseInt($(this).parent().siblings('input').val()) - 1)
    });

    $('.btnAddQty').on('click', function () {
        if ($(this).parent().siblings('input').val() >= 1) {
            $(".btnRmvQty").removeAttr('disabled');
        }
        $(this).parent().siblings('input').val(parseInt($(this).parent().siblings('input').val()) + 1)
    });

</script>