﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Resources/UserEnd/css/bootstrap.min.css" rel="stylesheet">


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="~/Resources/UserEnd/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


    <!--animatation -->
    <link href="~/Resources/UserEnd/css/animate.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="~/Resources/UserEnd/css/template.css" rel="stylesheet" type="text/css">
     <link href="~/Resources/UserEnd/css/responsive.css" rel="stylesheet" type="text/css">

    <!-- Custom fonts for this template -->
    <link href="~/Resources/UserEnd/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="~/Resources/UserEnd/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="~/Resources/UserEnd/js/MyCustomJava.js"></script>
    @RenderSection("Metatags", required: false)
</head>
@using Compuparts.Models;
@using Compuparts.Models.Function;
@{
    List<Category> lst = new CategoryModel().GetAll();

    List<CartLine> CartLineCount = new List<CartLine>();
    int Count = 0;
    if (Session["Cartid"] != null)
    {
        CartLineCount = new CartLineModel().GetCartLineByCartID(Convert.ToInt32(Session["Cartid"]));
        Count = CartLineCount.Count();
    }
    GernalFunction setting = new GernalFunction();
    List<Category> Lst = new List<Category>();
    string Facebook = setting.ListOfSetting.Where(x => x.Title == "Facebook").Select(x => x.Value).FirstOrDefault();
    string Twitter = setting.ListOfSetting.Where(x => x.Title == "Twitter").Select(x => x.Value).FirstOrDefault();
    string Instagram = setting.ListOfSetting.Where(x => x.Title == "Instagram").Select(x => x.Value).FirstOrDefault();
    string GooglePlus = setting.ListOfSetting.Where(x => x.Title == "GooglePlus").Select(x => x.Value).FirstOrDefault();
    string Address = setting.ListOfSetting.Where(x => x.Title == "Address").Select(x => x.Value).FirstOrDefault();
    string Contactus = setting.ListOfSetting.Where(x => x.Title == "Contact").Select(x => x.Value).FirstOrDefault();
    string Email = setting.ListOfSetting.Where(x => x.Title == "Email").Select(x => x.Value).FirstOrDefault();
}

<body>
    <header>
        <section id="headerTop">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-5 left">
                        <ul class="toplinks">
                            <li><a href="/about-us.html" title="About us">About Us</a></li>
                            <li><a href="/contact-us.html" title="Contact us">Contact Us</a></li>
                            <li><a href="/faqs.html" title="Faqs">FAQs</a></li>
                         
                        </ul>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-7  right pull-right">
                        @*<div class="login-resgister "><a href="#" title="Click Login or Regsiter"><span class="fa fa-user"></span>Login/Register</a></div>*@
                        <ul class="toplinks toplinksright text-right pull-right " style="width:auto;">
							<li class=""><a href="mailto:info@compuparts.ie"><span class="fa fa-envelope"></span>@Email</a></li>
							<li class="reomveContentAfter  hidden-mobile"><span class="fa fa-phone-square"></span>@Contactus</li>
						</ul>
                    </div>
                </div>
            </div>
        </section><!-- header top end -->
        <section id="headerCenter">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 leftPadding">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="logo"><a href="/" title="Go to Main Page"><img src="~/Resources/UserEnd/images/logo1.png" class="img-responsive" alt="Logo" /></a></div>
                            </div>
                            <div class="col-md-2 col-sm-6 contactNumber">
                                <div class="">Call: @Contactus <span style="display:none"> | @Email</span></div>
                            </div>
                            <div class="col-md-6">
                                <div class="searchBox">
                                    <form action="/Search-Results" method="post" style="float:right;">
                                        <input type="text" id="Keyword" class="form-control" placeholder="search for a product, category and brand" name="Keyword" />
                                        <button type="submit" name="btnSearchSubmit"><span class="fa fa-search"></span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- header center end -->
        <section id="headerBottom">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-default">
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/">Home</a></li>
                                @foreach (var item in lst.Where(x => x.ParentCategoryID == null))
                                {
                                    <li class="dropdown">
                                        <a>@item.CategoryName  <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            @foreach (var item2 in lst.Where(x => x.ParentCategoryID == item.ID))
                                            {
                                                <li class="dropdown-submenu">
                                                    <a>@item2.CategoryName</a>
                                                    <ul class="dropdown-menu">
                                                        @foreach (var item3 in lst.Where(x => x.ParentCategoryID == item2.ID).OrderByDescending(x=>x.SortOrder))
                                                        {
                                                            string url = item.CategoryName + "/" + item2.CategoryName + "/" + item3.CategoryName+"-"+ item3.ID;
                                                            url = url.Replace(" ", "-");
                                                            <li><a href="/@url">@item3.CategoryName </a></li>
                                                        }
                                                    </ul>
                                                </li>
                                            }

                                        </ul>
                                    </li>
                                }
                                <li><a href="/Compu-services.html">Compu Services</a></li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </nav>

                    <div class="topCartBox">
                        <a title="View Cart" class="linkTopCart"><span class="fa fa-shopping-cart"></span> <i id="CartCount"> @Count </i>  Items</a>
                        <div class="miniCart ">
                            <div class="cartItem">
                                <div class="top">
                                    @{
                                        if (CartLineCount.Count > 0 && CartLineCount != null)
                                        {
                                            foreach (var item in CartLineCount)
                                            {
                                                <div class="item" id="SmallDiv_@item.ID">
                                                    <div class="image">
                                                        <a href="#">
                                                            <img src="~/Resources/ProductImages/@item.Product.ProductImages.FirstOrDefault().Images" alt="@item.Product.Name" />
                                                        </a>
                                                    </div>
                                                    <div class="productdesc">
                                                        <a href="#">@item.Product.Name</a>
                                                        <div class="price"><span class="qty_@item.ProductID">@item.Quantity</span> x €<span class="prc_@item.ProductID">@item.Product.PriceWithoutVAT</span></div>
                                                    </div>
                                                    <div class="removePrduct"><span class="fa fa-times" id="Rem_@item.ProductID" onclick="Remove(@item.ProductID)"></span></div>
                                                </div>
                                            }
                                        }
                                    }

                                </div>
                                <div class="bottom">
                                    @{
                                        if (CartLineCount.Count > 0 && CartLineCount != null)
                                        {
                                            <div class="subtotal"><span class="text">Subtotal:</span><span class="value"></span> <span class="Currency">€</span> </div>
    <a href="/product/ShoppingCart" class="btnCheckOut">Checkout Now</a>    <a href="/product/ShoppingCart" title="view cart or edit" class="btnCart">View Cart</a>

                                        }
                                        else
                                        {
                                            <a href="/product/ShoppingCart" title="view cart or edit" class="btnCart">You have no items in your shopping cart</a>
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- header bottom end -->
    </header>
    <div>
        @RenderBody() 

    </div>
    <footer>
        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-12 first">
                        <h2>Other Links</h2>
                        <ul>
                            <li><a href="/" title="Home">Home</a></li>
                            <li><a href="/about-us.html" title="About Us">About Us</a></li>
                        </ul>
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-12 second">
                        <h2>Help / Support</h2>
                        <ul>
                            @*<li><a href="/feedback" title="Feedback">Feedback</a></li>*@
                            <li><a href="/contact-us.html" title="Contact us">Contact us</a></li>
                            @*<li><a href="/site-map" title="Site Map">Site Map</a></li>*@
                        </ul>
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-12 third">
                        <h2>Customer Service</h2>
                        <ul>
                            <li><a href="/terms-and-conditions.html" title="Terms & Conditions">Terms & Conditions</a></li>
                            <li><a href="/privacy-policy.html" title="Privacy Policy">Privacy Policy</a></li>
                            <li><a href="/shipping-and-returns.html" title="Shipping & Returns">Shipping & Returns</a></li>
                        </ul>
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-12 forth">
                        <h2>About Store</h2>
                        <p>@Address</p>
                        <p><a href="mailto:@Email">@Email</a></p>
                        <p><b>@Contactus</b></p>
                    </div>

                    <div class="col-md-4 col-sm-12 col-xs-12 last">
                        <h2>Find us on</h2>
                        <ul class="socialIcons ftr">
                            @if (!string.IsNullOrEmpty(Facebook))
                            {
                                <li><a href="https://www.facebook.com/" title="facebook" class="facebook" target="_blank"><span class="fa fa-facebook"></span></a></li>
                            }
                            @if (!string.IsNullOrEmpty(Twitter))
                            {
                                <li><a href="/@Twitter" title="twitter" class="twitter" target="_blank"><span class="fa fa-twitter"></span></a></li>
                            }
                            @if (!string.IsNullOrEmpty(GooglePlus))
                            {
                                <li><a href="/@GooglePlus" title="google-plus" class="gplus" target="_blank"><span class="fa fa-google-plus"></span></a></li>
                            }
                            @if (!string.IsNullOrEmpty(Instagram))
                            {
                                <li><a href="/@Instagram" title="instagram" class="instagram" target="_blank"><span class="fa fa-instagram"></span></a></li>
                            }
                        </ul>
                        <h2>Payments Methods</h2>
                        <img src="~/Resources/UserEnd/images/img-payments.png" class="" alt="payment methods" />
                    </div>
                </div>
            </div>
        </section><!-- footer end-->
        <section id="copyrights">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>&copy; 2017 Compuparts | Design and Developed by <a href="#" target="_blank">Soft Solutions</a></p>
                    </div>
                </div>
            </div>
        </section><!-- copyrights end -->
    </footer>
    <script src="~/Resources/UserEnd/js/jquery.min.js"></script>
    <script src="~/Resources/UserEnd/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Resources/UserEnd/js/ie10-viewport-bug-workaround.js"></script>

    <!-- custom js -->
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#btnproductCategories").click(function () {
                $(".listcatLinks").toggleClass("open");
            });
        });

        function addToCart() {
            var block = jQuery("div.topCartBox").find('.miniCart');
            if (block.hasClass("no-display")) {
                //$("html, body").animate({ scrollTop: 0 }, "slow");
                block.removeClass("no-display");
                block.addClass("display_m_cart");
                 block.addClass("showing");

            } else {
                block.removeClass("display_m_cart");
                   block.removeClass("showing");
                   block.addClass("no-display");
            }
        }

        //     sticky header on scroll
        jQuery(document).ready(function () {

            //     sticky header on scroll
            var orgElementPos = $('#headerBottom').offset();
            orgElementTop = orgElementPos.top;
            //$("#whatever").offset().top;


               if ($(window).width() > 960) {
                    var fixmeTop = $('#headerBottom').offset().top;
                       $(window).scroll(function() {
                       var currentScroll = $(window).scrollTop();


                       $("header").css("top","-60px");

                       if (currentScroll >= fixmeTop) {
                            $('header').addClass("scrolled");
                       }

                         if(currentScroll == 0) {
                                   $('header').removeClass("scrolled");
                         }
                       });
               }


            /*jQuery(window).scroll(function () {

                if ($(window).scrollTop() >= orgElementTop) {
                    jQuery('header').addClass('scrolled');
                } else {
                    jQuery('header').removeClass('scrolled');
                }
            });*/



            $('div.topCartBox ').hover(
                           function(){
                              //   if ($('div.topCartBox div.miniCart').hasClass('showing')) {
                              //           $("div.miniCart").removeClass("showing");
                              //      }else{
                                        $("div.miniCart").addClass("showing");
                                   // }

                            },
                           function(){
                                $("div.miniCart").removeClass("showing");
                            }
                    );


                    $('div.topCartBox .linkTopCart').hover(
                           function(){
                                if ($('div.topCartBox div.miniCart').hasClass('showing')) {
                                        $("div.miniCart").removeClass("showing");
                                   }
                                   if ($('div.topCartBox div.miniCart').hasClass('no-display')) {
                                          $("div.miniCart").removeClass("no-display");
                                     }

                            },
                           function(){
                                //$("div.miniCart").removeClass("showing");
                            }
                    );

        });

    </script>

    <script>
        $(document).ready(function () {
            var FullSubTotal = parseFloat("0.00");
            var ids = $('.item').map(function () {
                var DivId = $(this).attr('id');
                if (typeof DivId === "undefined") {

                }
                else
                {
                    var qty = $('.qty_' + DivId).text();
                    var prc = $('.prc_' + DivId).text();
                    var subtotal = parseFloat(qty).toFixed(2) * parseFloat(prc).toFixed(2);
                    FullSubTotal = FullSubTotal + subtotal;
                }
            });

            $('.value').text(parseFloat(FullSubTotal).toFixed(2));
        });
    </script>
</body>

</html>
