﻿@model Compuparts.Models.Brand
@{
    ViewBag.Title = "AddBrand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .scrollC {
        overflow-x: scroll;
    }

    .cropit-image-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 423px;
        height: 250px;
        cursor: move;
    }

    .cropit-image-background {
        opacity: .2;
        cursor: auto;
    }

    .image-size-label {
        margin-top: 10px;
    }

    input {
        display: block;
    }

    .export {
        margin-top: 10px;
    }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<script>
    $(function () {
        $("#imgBlock").hide();
        $("#file").click(function () {
            $("#imgBlock").show();
        });
        $('.image-editor').cropit();
        $('form').submit(function () {
            var imageData = $('.image-editor').cropit('export');
            $('.hidden-image-data').val(imageData);
            document.getElementById('Image').value = imageData;
            return true;
        });
    });
</script>
<div class="col-xs-9">
    <h2>Add <strong>New Brand</strong></h2>
</div>
<div class="col-xs-3">
    <input type="button" value="Manage Brand" style="float:right;" class="btn btn-dark" data-toggle="modal" data-target="#modal-select" onclick="location.href = '/Brand/ManageBrand'">
</div>

<form method="post" enctype="multipart/form-data" id="FormUser">

    <div class="row">
        <div class="col-lg-12 portlets">
            <div class="panel">

                <div class="panel-content">
                    @*<p>Here you can define different System users who can access this system</p>*@
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="form-label">Brand Name</label>
                                @Html.TextBoxFor(x => x.Name, new { @placeholder = "Enter Brand Name", @class = "form-control", @required = "required" })
                            </div>
                            @Html.HiddenFor(x => x.Image)
                            <div class="form-group">

                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <p><strong>Image uploader</strong></p>
                                    <div id="uploaderrr" class="fileinput-new thumbnail">
                                        @{
                                            if (Model != null)
                                            {
                                                <img data-src="" src="@Model.Image" class="img-responsive" alt="gallery 3">
                                            }
                                            else
                                            {
                                                <img data-src="" src="~/Resources/AdminPictures/NoImage.jpg" class="img-responsive" alt="gallery 3">
                                            }
                                        }
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="image-editor">
                                    <input type="file" class="cropit-image-input" name="file" id="file">
                                    <div id="imgBlock">
                                        <div class="cropit-image-preview"></div>
                                        <div class="image-size-label">
                                            Resize image
                                        </div>
                                        <input type="range" class="cropit-image-zoom-input">
                                        <input type="hidden" id="Image" class="hidden-image-data" />
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div>
                        @{
                            string Text = "Add Brand";
                            if (Model != null)
                            {
                                Text = "Update Brand";
                            }
                        }


                        <input type="submit" id="btnSave" class=" btn btn-dark" value="@Text" name="Save" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>



