﻿@model Compuparts.Models.ExtraImage
@{
    ViewBag.Title = "AddExtraImages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-9">
    <h2>Add <strong>Extra Images</strong></h2>
</div>
<div class="col-xs-3">
    <input type="button" value="Manage ExtraImages" style="float:right;" class="btn btn-dark" data-toggle="modal" data-target="#modal-select" onclick="location.href = '/ExtraImage/ManageExtraImage'">
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>




<form method="post" enctype="multipart/form-data" id="FormUser">

    <div class="row">
        <div class="col-lg-12 portlets">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="form-group">
                            @Html.HiddenFor(x => x.ID)
                            @Html.HiddenFor(x=>x.Image)
                            <label class="form-label">Upload Photos<small>(Size 400px * 250px)</small></label>
                            <input type="file" name="files" />
                            <br />
                            <br />

                            @{
                                if (Model != null )
                                {
                                        <img src="@Model.Image" />   
                                }
                            }
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Url, new { @placeholder = "Enter Url", @class = "form-control", @required = "required" })
                        </div>
                    </div> 
                    <div>
                        @{
                            string Text = "Add ExtraImages";
                            if (Model != null)
                            {
                                Text = "Update ExtraImages";
                            }
                        }


                        <input type="submit" id="btnSave" onclick="GetImageNameInHiddenBox();" class=" btn btn-dark" value="@Text" name="Save" />
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>