﻿@model Compuparts.Models.ContentPage
@{
    ViewBag.Title = "AddContentPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var ID = $('#hdn_login_UserID').val();
        $('#hdn_UserID').val(ID);
    });

</script>
<script>
    function createUrl(evt) {
        var Value = $("#Heading").val();
        Value = Value.toLowerCase();
        Value = Value.replace(/[^A-Z0-9]/ig, "-");
        $("#URL").val(Value);
    }
</script>
<div class="col-xs-9">
    <h2>Add <strong>Content Page</strong></h2>
</div>
<div class="col-xs-3">
    <input type="button" value="Manage Content Page" style="float:right;" class="btn btn-dark" data-toggle="modal" data-target="#modal-select" onclick="location.href = '/ContentPage/ManageContentPage'">
</div>
<form method="post" enctype="multipart/form-data" id="FormUser">

    <div class="row">
        <div class="col-lg-12 portlets">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="hdn_UserID" type="hidden" name="hdn_UserID" />
                                <label class="form-label">Page Name</label>
                                @Html.TextBoxFor(x => x.PageName, new { @placeholder = "Enter Unit Name", @class = "form-control", @required = "required" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">Heading</label>
                                @Html.TextBoxFor(x => x.Heading, new { @placeholder = "Enter Unit Code", @class = "form-control", @required = "required", @onkeyup = "return createUrl(event)" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">URL</label>
                                @Html.TextBoxFor(x => x.URL, new { @placeholder = "Enter Url", @class = "form-control", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="hdn_UserID" type="hidden" name="hdn_UserID" />
                                <label class="form-label">MetaTitle</label>
                                @Html.TextBoxFor(x => x.MetaTitle, new { @placeholder = "Enter MetaTitle", @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">MetaKeyword</label>
                                @Html.TextBoxFor(x => x.MetaKeyword, new { @placeholder = "Enter MetaKeyword", @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">MetaDescription</label>
                                @Html.TextBoxFor(x => x.MetaDescription, new { @placeholder = "Enter MetaDescription", @class = "form-control"})
                            </div>
                        </div>
                    </div>
                    <div>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control ckeditor", @id = "editorid" })
                    </div>
                    <div>
                        @{
                            string Text = "Add Page";
                            if (Model != null)
                            {
                                Text = "Update Page";
                            }
                        }


                        <input type="submit" id="btnSave" class=" btn btn-dark" value="@Text" name="Save" />
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>

