﻿@model Compuparts.Models.ContentPage
@{
    ViewBag.Title = "ShowContent";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

@section Metatags{
    @if (Model != null)
    {
        <title>@Model.MetaTitle</title>
        <meta name="description" content="@Model.MetaDescription" />
        <meta name="keywords" content="@Model.MetaKeyword" />
    }
}

<main>
    @{
        if (Model != null)
        {
            <section id="main-content" class="contentpage">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="pgHeading">@Model.Heading</h2>
                            <p>@Html.Raw(Model.Description)</p>
                        </div>
                    </div>
                </div>
            </section>
        }
    }

    <!-- main content end -->
</main>
