﻿@model Shoppers.Models.Album

@{
    ViewBag.Title = "AddAlbum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {

            $('#erormsg').css('display', 'block');
            return false;
        }
        else {
            $('#erormsg').css('display', 'none');
            return true;
        }
    }
</script>

<script>
    function createUrl(evt) {
        var Value = $("#Name").val();
        Value = Value.toLowerCase();
        Value = Value.replace(/[^A-Z0-9]/ig, "-");
        $("#Url").val(Value);
    }
</script>
<div class="col-xs-9">
    <h2>Add <strong>Album</strong></h2>
</div>
<div class="col-xs-3">
    <input type="button" value="Manage Album" style="float:right;" class="btn btn-dark" data-toggle="modal" data-target="#modal-select" onclick="location.href = '/Album/ManageAlbum'">
</div>
<form method="post" enctype="multipart/form-data" id="FormUser">
    <input id="HdnName" type="hidden" name="HdnName" value="@ViewBag.Name" />
    <div class="row">
        <div class="col-lg-12 portlets">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Album Name</label>
                                @Html.TextBoxFor(x => x.Name, new { @placeholder = "Enter Album Name", @class = "form-control", @required = "required",@onkeyup = "return createUrl(event)" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">Url</label>
                                @Html.TextBoxFor(x => x.Url, new { @placeholder = "Enter Url", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Sortorder</label><br />
                                <span style="color:red; display:none;" id="erormsg">Enter Numeric Charaters only</span>
                                @Html.TextBoxFor(x => x.SortOrder, new { @placeholder = "Enter Sortorder", @class = "form-control", @onkeypress = "return isNumber(event)" })

                            </div>
                        </div>
                    </div>
                    <label class="form-label">Description</label><br />
                    <div>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control ckeditor", @id = "editorid" })

                    </div>
                    <div>
                        @{
                            string Text = "Add Album";
                            if (Model != null)
                            {
                                Text = "Update Album";
                            }
                        }

                        <input type="submit" id="btnSave" class=" btn btn-dark" value="@Text" name="Save" />
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>




